.custom-width {
    width: 150px;
}

/* LOADING SPINNER */
#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure it's on top of other content */
}

/* Style for the spinner */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #007bff; /* Change color as needed */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite; /* Add animation for spinning */
}

/* Animation for the spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* SRG TABLE */
.srg-table, .srg-table-borderless {
    font-size: 11pt;
    width:100%;
}

#srg-table tr > td:last-child {
    background-color: #ccd9cc;
    color:black;
    width:100px;
}

#srg-table tr > td:nth-last-child(2) {
    background-color: #ccd6e8;
    color:black;
    width:100px;
}

#srg-table tr > td:nth-last-child(3) {
    background-color: #d9d9d9;
    color:black;
    width:100px;
}

.srg-table th {
    padding: 10px;
    width: auto;
    border: 0.5pt solid #a9a9a9;
    cursor: pointer;
    background: #d9d9d9;
    color: #02308C;
}

.srg-table-borderless th {
    padding: 10px;
    width: auto;
    border-bottom: 0.5pt solid #a9a9a9;
    cursor: pointer;
    background: #d9d9d9;
    color: #02308C;
}

.srg-table-borderless td {
    padding: 8px;
    width: auto;
    border-bottom: 0.5pt solid #a9a9a9;

}

.srg-table td {
    padding: 8px;
    width: auto;
    border: 0.5pt solid #a9a9a9;

}

.srg-table tbody > tr:hover {
    background: #afc0df;

}

.srg-table-borderless tbody > tr:hover {
    background: #afc0df;

}

/* COLORS */
.srg-bg-primary {
    background: #02308C
}

.srg-bg-primary-light {
    background: #afc0df;
}

.srg-bg-secondary {
    background: #d9d9d9;
}

.srg-bg-success {
    background: #004000
}

.srg-bg-success-light {
    background: #b1c2af;
}

.srg-bg-danger {
    background: #8B0000;
}

.srg-bg-danger-light {
    background: #e2b9b2;
}


/* BORERS */
.srg-border-secondary {
    border: 1px solid blue;
}

.srg-border {
    border: 1px solid #a9a9a9;
    border-radius: 12px;
}


/* TEXT & HEADERS */
.srg-header {
    color: #02308C;
}

.srg-text-secondary {
    color: #d9d9d9;
}

.srg-text-danger {
    color: #8B0000;
}
/* BUTTONS, LINKS, LISTS */

.srg-active {
    color: #ffffff;
    background-color: #02308C;
    border-color: #02308C;
}


.srg-link {
    color: #02308C;
}

.srg-link-light {
    color: #d9d9d9
}

.srg-link-success {
    text-decoration: none;
    color: #004000
}

.srg-list-group-item {
    padding:8px;
    border: 1px solid #a9a9a9;
    border-radius: 12px;
    font-size: 11pt;
}

.srg-list-group-item:hover {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    color: #02308C;
}

.srg-btn-small-primary {
    width: 32px;
    height: 32px;
    background-color: white;
    border: 1px solid #02308C;
    color: #02308C;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.srg-btn-small-primary:hover {
    background-color: #02308C;
    border: 1px solid #02308C;
    color: white;
    border-radius: 50%;
}

.srg-btn-ol-primary {
    background-color: white;
    border: 1px solid #02308C;
    color: #02308C;
    padding: 8px 16px 8px 16px;
    border-radius: 12px;
}

.srg-btn-ol-primary:hover {
    background-color: #02308C;
    border: 1px solid #02308C;
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 12px;
}

.srg-btn-small-success {
    background-color: white;
    border: 1px solid #004000;
    color: #004000;
    border-radius: 50%;

}

.srg-btn-small-success:hover {
    background-color: #004000;
    border: 1px solid #004000;
    color: white;
    border-radius: 50%;

}

.srg-btn-ol-success {
    background-color: white;
    border: 1px solid #004000;
    color: #004000;
    padding: 8px 16px 8px 16px;
    border-radius: 12px;
}

.srg-btn-ol-success:hover {
    background-color: #004000;
    border: 1px solid #004000;
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 12px;
}

.srg-btn-ol-danger {
    background-color: white;
    border: 1px solid #8B0000;
    color: #8B0000;
    padding: 8px 16px 8px 16px;
    border-radius: 12px;
}

.srg-btn-ol-danger:hover {
    background-color: #8B0000;
    border: 1px solid #8B0000;
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 12px;
}

.srg-btn-primary {
    background-color: #02308C;
    border: 1px solid #02308C;
    color: #ffffff;
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
}

.srg-btn-primary:hover {
    background-color: white;
    border: 1px solid #02308C;
    color: #02308C;
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
}

.srg-btn-secondary {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    color: #02308C;
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
}

.srg-btn-secondary:hover {
    background-color: white;
    border: 1px solid #d9d9d9;
    color: #02308C;
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
}

.srg-btn-success {
    background-color: #004000;
    border: 1px solid #004000;
    color: #ffffff;;
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
}

.srg-btn-danger {
    background: #8B0000;
    border: 1px solid #8B0000;
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
}

.srg-btn-danger:hover {
    background: white;
    border: 1px solid #8B0000;
    color: #02308C;
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
}

.srg-link-secondary {
    text-decoration: none;
    color: #d9d9d9;
}

.srg-link-secondary:hover {
    text-decoration: none;
    border-bottom: 2px solid #d9d9d9;
}

.srg-link-danger {
    text-decoration: none;
    color: #8B0000;
}


.srg-login-button {
    background: #02308C;
    border:1px solid #02308C;
    border-radius: 50px;
    padding:8px 32px;
    color: white;
}

.srg-accordion-button {
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
    padding: 16px 16px 16px 16px;
    width:100%;
    border-radius: 8px 8px;
    text-align: left;

}

.search-box {
    border: 1px solid #d9d9d9;
    background: #02308C;
    color: #d9d9d9;
    border-radius: 5px;
    height: 40px;
    width: 50%;
    max-width:360px;
    padding: 2px 2px 2px 8px;
    outline: 0;
}

::placeholder, ::-webkit-input-placeholder {
    color:#d9d9d9;
}

.sidebar .nav-link {
    color: #02308C;
}

.event-title {
        white-space: normal;
        overflow: hidden;
        text-overflow: clip;
    }

/*
i wish this required CSS was better documented :(
https://github.com/FezVrasta/popper.js/issues/674
derived from this CSS on this page: https://popper.js.org/tooltip-examples.html
*/

.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: #FFC107;
  color: black;
  width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  text-align: center;
}
.style5 .tooltip {
  background: #1E252B;
  color: #FFFFFF;
  max-width: 200px;
  width: auto;
  font-size: .8rem;
  padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #FFC107;
}
.style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}