{% extends 'layoutV2.html' %}
{% load humanize %}

{% block content %}
    <!--
    <div id="loading-screen">
        <div class="">
            <div class="spinner"></div><br>
            <p>Loading...</p>
        </div>
    </div>
    -->
    <!--
    <div class="row p-0 d-print-none">
        <div class="col-12 p-0">
            <div class="srg-bg-primary px-4 py-2 shadow-sm d-flex justify-content-between">
                <span class="srg-text-secondary display-6 fs-2 lh-base">Admin Billing Report</span>

                <span class="srg-text-secondary display-6 fs-2 lh-base">{{ today|date:'l, F d, Y' }} </span>

                <span class="srg-text-secondary display-6 fs-2 lh-base">Period: {{ week_beg|date:"m/d/y" }} - {{ week_end|date:"m/d/y" }}</span>
            </div>
        </div>
    </div>
    -->
    <div class="row d-flex justify-content-evenly vh-100">
        <div class="col-xxl-6 col-xl-5 col-lg-5 col-md-6">
            <div class="card">
                <div class="card-header srg-bg-primary srg-text-secondary">
                    <span class="display-6 fs-3">Filter Form</span>
                </div>
                <div class="card-body">
                    <form method="get">
                        {% for field in filter.form %}
                            <div class="fieldWrapper mb-3">
                                <p class="">{{ field.label_tag|title }} <br> {{ field }}</p>
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="card-footer bg-transparent d-flex justify-content-start align-items-center gap-3 px-0 py-2 m-0">
                            <button class="srg-btn-primary" type="submit"><i class="bi bi-search"></i> Search</button>
                            <button class="srg-btn-secondary" name='extract_button' type="submit"><i class="bi bi-download"></i> Extract</button>
                            <a class="srg-link" href="{% url 'admin-timesheet' %}">Clear Form</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header srg-text-secondary srg-bg-primary">
                    <span class="display-6 fs-3">Timesheet Entries</span>
                </div>
                <div class="card-body overflow-auto" style="max-height:600px;">
                    <table class="srg-table">
                        <thead>
                            <tr class="text-center">
                                <th>Date</th>
                                <th>Employee</th>
                                <th>Parent</th>
                                <th>Provider</th>
                                <th>Scope</th>
                                <th>FYE</th>
                                <th>Hours</th>
                            </tr>
                        </thead>
                        {% for entry in filter.qs %}
                            <tr class="text-center align-middle">
                                <td class="">{{ entry.ts_date|date:'m/d/Y' }}</td>
                                <td class="text-start">{{ entry.employee__user__username }}</td>
                                <td class="text-start">{{ entry.engagement__parent__parent_name }}</td>
                                <td class="text-start">{{ entry.engagement__provider }} - {{ entry.engagement__provider__provider_name }}</td>
                                <td class="text-start">{{ entry.engagement__time_code }} - {{ entry.engagement__time_code__time_code_desc }}</td>
                                <td class="text-start">{{ entry.engagement__fye|date:'m/d/Y' }}</td>
                                <td>{{ entry.hours }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>


        </div>

        <div class="col-xxl-6 col-xl-5 col-lg-5 col-md-6" style="max-height: 500px;">
            <div class="card overflow-auto">
                <div class="card-header srg-bg-primary srg-text-secondary">
                    <span class="display-6 fs-3">Search Metrics</span>
                </div>
                <div class="card-body">
                    <h5 class="mt-2 srg-header">Top 3 Engagements</h5>
                    <table class="srg-table-borderless">
                        <thead>
                            <tr>
                                <th>Engagement</th>
                                <th>Parent</th>
                                <th>Provider</th>
                                <th>Scope</th>
                                <th>FYE</th>
                                <th>Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in q_engagements %}
                                <tr>
                                    <td><a class="srg-link" href="{% url 'engagement-detail' e.engagement__engagement_id %}">{{ e.engagement__engagement_srg_id }}</a> </td>
                                    <td>{{ e.engagement__parent__parent_name }}</td>
                                    <td>{{ e.engagement__provider }} - {{ e.engagement__provider__provider_name }}</td>
                                    <td>{{ e.engagement__time_code }} - {{ e.engagement__time_code__time_code_desc }}</td>
                                    <td>{{ e.engagement__fye|date:'m/d/Y' }}</td>
                                    <td>{{ e.hours_sum }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <h5 class="mt-4 srg-header">By Employee</h5>
                    <table class="srg-table-borderless">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Hours</th>
                                <th>@Rate</th>
                                <th>Dollars</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in q_employees %}
                                <tr>
                                    <td>{{ e.employee__user__username }}</td>
                                    <td>{{ e.hours_sum }}</td>
                                    <td>{{ e.employee__title__rate }}</td>
                                    <td>{{ e.dollars_sum|intcomma }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr class="fw-bold srg-link">
                                <td>Total</td>
                                <td>{{ q_total|intcomma }}</td>
                                <td></td>
                                <td>{{ q_dollars_total|intcomma }}</td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <script>
            // Hide the spinner when the page is fully loaded
            window.onload = function () {
                  // Hide the loading screen when the entire page is loaded
                const loadingScreen = document.getElementById("loading-screen");
                loadingScreen.style.display = "none";

            };

            </script>

            <script>
                // Hide the spinner when the page is fully loaded
                window.addEventListener("beforeunload", function() {
                    const spinner = document.getElementById("loading-screen");
                    spinner.style.display = ""; // Change to "none" if you want it to hide initially
                });
        </script>
{% endblock %}