{% extends 'layout.html' %}
{% load mathfilters %}

{% block content %}

    <div class="container-xxl">
        <div class="row my-4">
            <div class="col-12">
                <div class="card srg-bg-secondary px-4 shadow-sm">
                    <span class="srg-link display-5 fs-1">Hello, {{ user_info.first_name }}</span>

                    <span class="srg-link display-6 fs-2 lh-base">{{ today|date:'l, F d, Y' }} </span>

                    <span class="srg-link display-6 fs-2 lh-base">Period: {{ week_beg|date:"m/d/y" }} - {{ week_end|date:"m/d/y" }}</span>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <div class="card col-12 px-4 shadow-sm text-center">
                <div class="card-header bg-transparent srg-header d-flex justify-content-between align-items-baseline">
                    <div class="text-start">
                    <h4>Employee Hours Compilation</h4>
                    <h5>{{ selected_month|date:'F Y' }}</h5>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group custom-width">
                            {{ month_form.month }}
                          </div>
                    </form>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Title</th>
                                <th>Fixed</th>
                                <th>Hourly</th>
                                <th>CGY</th>
                                <th>NB</th>
                                <th>PTO</th>
                                <th>Total Billable<br>with CGY</th>
                                <th>Total with<br>Non-Billable</th>
                                <th>% Billable</th>
                            </tr>
                        </thead>
                        {% for emp in vps %}
                            <tr>
                                <td class="text-start">{{ emp.user }}</td>
                                <td class="text-start">{{ emp.title }}</td>
                                <td>
                                    {% for item in vp_fixed_hours_by_employee %}
                                        {% if item.employee_id == emp.employee_id %}
                                            {{ item.fixed_hours_by_employee_sum }}
                                        {% else %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for item in vp_hourly_hours_by_employee %}
                                        {% if item.employee_id == emp.employee_id %}
                                            {{ item.hourly_hours_by_employee_sum }}
                                        {% else %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for item in vp_cgy_hours_by_employee %}
                                        {% if item.employee_id == emp.employee_id %}
                                            {{ item.cgy_hours_by_employee_sum }}
                                        {% else %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for item in vp_non_billable_hours_by_employee %}
                                        {% if item.employee_id == emp.employee_id %}
                                            {{ item.non_billable_hours_sum }}
                                        {% else %}
                                        {% endif %}

                                    {% endfor %}
                                </td>
                                <td>
                                    {% for item in vp_pto_hours_by_employee %}
                                        {% if item.employee_id == emp.employee_id %}
                                            {{ item.pto_hours_by_employee_sum }}
                                        {% else %}
                                        {% endif %}

                                    {% endfor %}
                                </td>
                                <td>
                                    {% for item in vp_billable_hours_by_employee %}
                                        {% if item.employee_id == emp.employee_id %}
                                            {{ item.billable_hours_sum }}
                                        {% else %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for item in vp_total_hours_by_employee %}
                                        {% if item.employee_id == emp.employee_id %}
                                            {{ item.total_hours_sum }}
                                        {% else %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for item in vp_billable_hours_by_employee %}
                                        {% if item.employee_id == emp.employee_id %}
                                            {{ item.billable_hours_sum|div:200|mul:100|floatformat:2 }} %
                                        {% else %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr style="color:#02308C">
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C">Vice President Total:</td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C">{{ vp_total_fixed_hours.fixed_hours_by_employee_sum__sum }}</td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C">{{ vp_total_hourly_hours.hourly_hours_by_employee_sum__sum }}</td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C">{{ vp_total_cgy_hours.cgy_hours_by_employee_sum__sum }}</td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C">{{ vp_total_non_billable_hours.non_billable_hours_sum__sum }}</td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C">{{ vp_total_pto_hours.pto_hours_by_employee_sum__sum }}</td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C">{{ vp_total_billable_hours.billable_hours_sum__sum }}</td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C">{{ vp_total_hours.total_hours_sum__sum }}</td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C">{{ vp_total_billable_hours.billable_hours_sum__sum|div:200|mul:100|floatformat:2 }} %</td>
                        </tr>

                        {% for emp in mgrs %}
                            <tr>
                                <td class="text-start">{{ emp }}</td>
                                <td class="text-start">{{ emp.title }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        <tr class="srg-link">
                            <td class="srg-bg-secondary srg-link" style="background-color: #d9d9d9"></td>
                            <td class="srg-bg-secondary srg-link" style="background-color: #d9d9d9; color:#02308C">Managers Total:</td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                        </tr>

                        {% for emp in consultants %}
                            <tr>
                                <td class="text-start">{{ emp }}</td>
                                <td class="text-start">{{ emp.title }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C">Consultant Total:</td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                            <td class="srg-bg-secondary" style="background-color: #d9d9d9; color:#02308C"></td>
                        </tr>
                        <tr><td colspan="10"></td></tr>
                        <tfoot>
                            <tr class="srg-bg-primary border-0" style="background: #02308C">
                                <th class="srg-bg-primary border-0" style="background: #02308C">Grand Total</th>
                                <th class="srg-bg-primary border-0" style="background: #02308C"></th>
                                <th class="srg-bg-primary border-0" style="background: #02308C">{{ total_fixed_hours.fixed_hours_by_employee_sum__sum }}</th>
                                <th class="srg-bg-primary border-0" style="background: #02308C">{{ total_hourly_hours.hourly_hours_by_employee_sum__sum }}</th>
                                <th class="srg-bg-primary border-0" style="background: #02308C">{{ total_cgy_hours.cgy_hours_by_employee_sum__sum }}</th>
                                <th class="srg-bg-primary border-0" style="background: #02308C">{{ total_non_billable_hours.non_billable_hours_sum__sum }}</th>
                                <th class="srg-bg-primary border-0" style="background: #02308C">{{ total_pto_hours.pto_hours_by_employee_sum__sum }}</th>
                                <th class="srg-bg-primary border-0" style="background: #02308C">{{ total_billable_hours.billable_hours_sum__sum }}</th>
                                <th class="srg-bg-primary border-0" style="background: #02308C">{{ total_hours.total_hours_sum__sum }}</th>
                                <th class="srg-bg-primary border-0" style="background: #02308C">{{ total_billable_hours.billable_hours_sum__sum|div:200|mul:100|floatformat:2 }} %</th>
                            </tr>
                        </tfoot>
                        <caption>Note: Period is based on calendar month, not 5 full billable weeks.</caption>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}