{% extends 'layoutV2.html' %}
{% load mathfilters %}

{% block content %}
    <!--
    <div class="row p-0">
        <div class="col-12 p-0">
            <div class="srg-bg-primary srg-text-secondary px-4 py-2 shadow-sm d-flex justify-content-between">
                <div>
                    <span class="display-5 fs-1">Admin Employee Dashboard</span><br>
                    <span class="display-5 fs-2">Employee: {{ first_name }} {{ last_name }}</span>
                </div>
                <div class="d-flex align-items-end">
                    <span class="display-5 fs-2">{{ today|date:'l, F d, Y' }} </span>
                </div>
                <div class="d-flex align-items-end">
                    <span class="display-5 fs-2">Period: {{ per_beg_object|date:"m/d/y" }} - {{ per_end_object|date:"m/d/y" }}</span>
                </div>
            </div>
        </div>
    </div>
    -->

    <div class="container-fluid vh-100">
        <div class=" vh-100 overflow-auto">
            <div class="row d-flex justify-content-center my-4">
                <div class="col-xl-6 col-lg-4 col-md-12">
                    <div class="card shadow-sm" style="min-height:400px;max-height:500px">
                        <div class="card-header srg-bg-primary srg-text-secondary d-flex justify-content-between align-items-baseline">
                            <span class="display-6 fs-3">{{ first_name }}'s Time vs To-Do List</span>
                            <!--<a href="{% url 'employee-timesheet' %}" class="srg-link">View Timesheet</a>-->
                        </div>
                        <div class="card-body overflow-auto pt-0">
                            <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
                            <canvas class="my-4 w-100 text-light" height="275px" id="myChart"></canvas>
                            <script>
                                const config = {
                                    type: 'bar',
                                    data: {
                                        labels: ['Timesheet', 'To-Do List'],
                                        datasets: [{
                                            label: [],
                                            backgroundColor: ['rgb(2,48,140)', 'rgb(217,217,217)','rgb(0,64,0)' ],
                                            borderColor: ['rgb(2,48,140)', 'rgb(217,217,217)','rgb(0,64,0)' ],
                                            data: [{{ timesheet_hours.amount }}, {{ todolist_hours.amount }}],
                                            fill: false
                                        }]
                                    },
                                    options: {
                                        indexAxis:'y',
                                        responsive: true,
                                        plugins: {
                                          legend: {
                                              display: false,
                                              position: 'bottom'
                                          }
                                        },
                                        scales: {
                                            x: {
                                                stacked:false,
                                                max:100
                                            },
                                            y: {
                                                stacked:false,
                                                max: 100,
                                                ticks: {
                                                    stepSize: 4
                                                }
                                            },
                                            yAxes: [{
                                                ticks: {
                                                    fontColor: "black",
                                                    beginAtZero: true,
                                                    stepSize: 5
                                                },
                                                gridLines: {
                                                    color:"rgb(56, 60, 74)"
                                                }
                                            }],
                                            xAxes: [{
                                                ticks: {
                                                    fontColor: "black"
                                                },
                                                gridLines: {
                                                    color:"rgb(56, 60, 74)"
                                                }
                                            }]
                                        }
                                    }
                                };
                                window.onload = function () {

                                    const ctx = document.getElementById('myChart').getContext('2d');
                                    window.myLine = new Chart(ctx, config);

                                }

                            </script>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-8 mt-lg-0 col-md-12 mt-md-4">
                    <div class="card shadow-sm" style="min-height:400px;max-height:500px">
                        <div class="card-header srg-bg-primary srg-text-secondary d-flex justify-content-between align-items-baseline">
                            <span class="display-6 fs-3">{{ first_name }}'s Schedule - {{ today|date:'m/d/Y' }}</span>
                            <!--<a href="{% url 'employee-todolist' %}" class="srg-link">View To-Do List</a>-->
                        </div>
                        <div class="card-body overflow-auto p-2">
                            <table class="srg-table">
                                    <thead>
                                    <tr class="">
                                        <th>Parent</th>
                                        <th>Provider</th>
                                        <th>Scope</th>
                                        <th>Hours</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entry in employee_td_entries %}
                                        <tr>
                                            <td>{{ entry.engagement__parent_id }} - {{ entry.engagement__parent_id__parent_name }}</td>
                                            <td>{{ entry.engagement__provider_id }} - {{ entry.engagement__provider_id__provider_name }}</td>
                                            <td>{{ entry.engagement__time_code }} - {{ entry.engagement__time_code__time_code_desc }}</td>
                                            <td class="text-center">{{ entry.hsum }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header srg-bg-primary srg-text-secondary d-flex justify-content-between d-flex align-items-baseline">
                            <span class="display-6 fs-3">Weekly Analysis - {{ week_beg|date:'M d' }} - {{ week_end|date:'d, Y' }}</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <div class="card">
                                        <div class="card-header srg-bg-primary srg-text-secondary text-start">
                                            Hours Scheduled
                                        </div>
                                        <div class="card-body display-1 srg-link text-center">
                                            {{ todolist_hours.amount|floatformat:0 }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="card">
                                        <div class="card-body">
                                            <table class="srg-table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th>Parent</th>
                                                        <th>Provider</th>
                                                        <th>Scope</th>
                                                        <th>FYE</th>
                                                        <th>Hours</th>
                                                    </tr>
                                                </thead>
                                                {% for i in todolist_hours_by_engagement %}
                                                    <tr>
                                                        <td>{{ i.engagement__parent__parent_name }}</td>
                                                        <td>{{ i.engagement__provider }} - {{ i.engagement__provider__provider_name }}</td>
                                                        <td>{{ i.engagement__time_code }} - {{ i.engagement__time_code__time_code_desc }}</td>
                                                        <td>{{ i.engagement__fye|date:'m/d/Y' }}</td>
                                                        <td>{{ i.amount }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card shadow-sm">
                        <div class="card-header srg-bg-primary srg-text-secondary d-flex justify-content-between d-flex align-items-baseline">
                            <span class="display-6 fs-3">{{ first_name }}'s Calendar</span>
                        </div>
                        <div class="card-body">

                            <div id="myCalendar">
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <div class="card shadow-sm" style="min-height:400px;max-height:500px">
                        <div class="card-header srg-bg-primary srg-text-secondary d-flex justify-content-between align-items-center">
                            <span class="display-6 fs-3">{{ first_name }}'s Engagements</span>
                            <input class="search-box" type="text" id="searchBar" onkeyup="searchEngagements()" placeholder="Search for engagements.." title="Type in a name">
                        </div>
                        <div class="card-body d-flex justify-content-center overflow-auto">
                            <table class="srg-table" id="srg-table">
                                <thead>
                                    <tr>
                                        <th>Parent</th>
                                        <th>Provider</th>
                                        <th>Scope</th>
                                        <th>FYE</th>
                                        <th>HTD</th>
                                        <th>Budget</th>
                                        <th class="text-center">Variance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for engagement in user_engagements %}
                                        <tr>
                                            <td>{{ engagement.parent_id }} - {{ engagement.parent__parent_name }}</td>
                                            <td>{{ engagement.provider_id }} - {{ engagement.provider__provider_name }}</td>
                                            <td>{{ engagement.time_code }}-{{ engagement.time_code__time_code_desc }}</td>
                                            <td>{{ engagement.fye|date:'m/d/Y' }}</td>
                                            <td class="text-center">{{ engagement.engagement_hours_sum }}</td>
                                            <td class="text-center">{{ engagement.budget_calc }}</td>
                                            <td class="text-center">{{ engagement.budget_calc|sub:engagement.engagement_hours_sum|floatformat:0 }}</td>

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="day-modal" tabindex="-1">
            <div class="modal-dialog modal-xl" id="dmodal">
                <div class="modal-content">
                    <div class="modal-header srg-bg-secondary srg-header d-flex justify-content-center gap-2">
                        <span class="fs-3 display-6" id="day-text"></span> <span class="fs-3 display-6">Schedule</span>
                    </div>
                    <div class="modal-body">
                        <table class="srg-table" id="day-table">
                            <thead>
                                <tr class="">
                                    <th>Provider</th>
                                    <th>Time Code</th>
                                    <th>FYE</th>
                                    <th>Hours</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

         <script>
          // Initialize the popover
          $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
          });
        </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                $(e.target).css("color", "#ffffff");
                $(e.target).css("background-color", "#02308C");
                $(e.target).css("border-color", "#02308C");
                $(e.relatedTarget).css("color", "#02308C");
                $(e.relatedTarget).css("background-color", "#ffffff");
                $(e.relatedTarget).css("border-color", "#a9a9a9");
            })
        })
    </script>
    <script>
        function searchEngagements() {
            // Declare Variables
            let input, filter, table, tr, td, i, txtValue, j;
            input = document.getElementById('searchBar');
            filter = input.value.toUpperCase();
            table = document.getElementById('srg-table');
            tr = table.getElementsByTagName('tr');

            // Loop through rows and display only matching ones
            for (i = 1; i < tr.length; i++) { // Start from 1 to skip the header row
            td = tr[i].getElementsByTagName("td");
            let rowContainsMatch = false;

            for (j = 0; j < td.length; j++) {
                txtValue = td[j].textContent || td[j].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    rowContainsMatch = true;
                    break; // No need to continue checking other cells in this row
                }
            }

            if (rowContainsMatch) {
                tr[i].style.display = "table-row";
            } else {
                tr[i].style.display = "none";
            }
        }
        }
    </script>
    <script>
        function searchClients() {
            // Declare Variables
            let input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('searchBar')
            filter = input.value.toUpperCase();
            console.log(filter)
            ul = document.getElementById('clientList')
            li = ul.getElementsByTagName('a');

            // Loop through elements and display only matches
            for (i = 0; i < li.length; i++) {
                // a = li[i].getElementsByTagName("a")[0];
                txtValue = li[i].textContent || li[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "block";
                } else {
                    li[i].style.display = "none";
                }
            }

        }
    </script>


    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const calendarEl = document.getElementById('myCalendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'listWeek',
                height: 1000,
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title'
                },
                fixedWeekCount: false,
                aspectRatio: 2.5,
                navLinks: true,
                weekNumbers: true,
                events: [
                    {% for event in employee_td_entries_all %}
                          {
                            title: '{{ event.engagement__engagement_srg_id}}: {{ event.engagement__parent_id__parent_name }}; {{ event.engagement__provider_id }} - {{ event.engagement__provider_id__provider_name }}; {{ event.engagement__time_code }} - {{ event.engagement__time_code__time_code_desc }} - {{ event.hsum }} Hours',
                            start: '{{ event.todo_date|date:'Y-m-d' }}',
                            end: '{{ event.todo_date|date:'Y-m-d' }}'
                            },
                    {% endfor %}
                ],
                eventBackgroundColor: '#02308C',
                eventBorderColor: '#02308C',
                listDayFormat: {
                    month: 'long',
                    year: 'numeric',
                    day: 'numeric',
                    weekday: 'long'
                },
                listDaySideFormat: false,
                navLinkDayClick: function (info) {
                    $('#day-modal').modal('show');
                    document.getElementById('day-text').innerText = info.toLocaleDateString();
                    let tableBody = document.querySelector("#day-table tbody");
                    $.ajax({
                        url: '/get_td_list/' + info.toISOString().split("T")[0] + '/',
                        type: 'GET',
                        success: function (tdDayList) {
                            tdDayList.forEach(item => {
                                let row = document.createElement('tr')
                                let url = `/delete-todo-entry/${item.todolist_id}`
                                let tdID = item.todolist_id
                                row.innerHTML = `
                                                <td>${item.engagement__provider} - ${item.engagement__provider__provider_name}</td>
                                                <td>${item.engagement__time_code} - ${item.engagement__time_code__time_code_desc}</td>
                                                <td>${item.engagement__fye}</td>
                                                <td>${item.anticipated_hours}</td>
                                                <td class="text-center">
                                                        <a type="button" class="srg-link edit-button" data-bs-toggle="modal" href="#edit-modal" data-td-id="${tdID}">
                                                          <i class="bi bi-pencil-square"></i>
                                                        </a>

                                                        <a type="button" class="srg-link-danger" id='td-modal-delete-button' data-engagement-id="{{ item.todolist_id }}"
                                                                href="${url}">
                                                          <i class="bi bi-trash3"></i>
                                                        </a>
                                                    </td>
                                                    `
                                tableBody.appendChild(row)
                            })
                        }
                    })
                }

          });
          calendar.render();
      });

    </script>



{% endblock %}