{% extends 'layout.html' %}
{% load mathfilters %}

{% block content %}


    <div class="container-xxl">
    <div class="row my-4">
        <div class="col-12">
            <div class="card srg-bg-secondary px-4 pb-2 shadow-sm">
                <span class="srg-link display-5 fs-1">Admin Employee Dashboard</span>
                <span class="srg-link display-5 fs-3">Employee: {{ user_info.first_name }}</span>

                <span class="srg-link display-6 fs-4">{{ today|date:'l, F d, Y' }} </span>

                <span class="srg-link display-6 fs-4">Period: {{ per_beg_object|date:"m/d/y" }} - {{ per_end_object|date:"m/d/y" }}</span>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mb-4">
        <div class="col-4">
            <div class="card shadow-sm" style="min-height:400px;max-height:500px">
                <div class="card-header srg-link d-flex justify-content-between align-items-baseline pb-0">
                    <h4>My Time</h4>
                    <a href="{% url 'employee-timesheet' %}" class="srg-link">View Timesheet</a>
                </div>
                <div class="card-body overflow-auto pt-0">
                    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
                    <canvas class="my-4 w-100 text-light" height="275px" id="myChart"></canvas>
            <script>
                const config = {
                    type: 'bar',
                    data: {
                        labels: ['Billable', 'Non-Billable', 'Total'],
                        datasets: [{
                            label: [],
                            backgroundColor: ['rgb(2,48,140)', 'rgb(217,217,217)','rgb(0,64,0)' ],
                            borderColor: ['rgb(2,48,140)', 'rgb(217,217,217)','rgb(0,64,0)' ],
                            data: [{{ billable_hours_sum.amount }}, {{ non_billable_hours_sum.amount }}, {{ non_billable_hours_sum.amount|add:billable_hours_sum.amount }}],
                            fill: false
                        }]
                    },
                    options: {
                        indexAxis:'x',
                        responsive: true,
                        plugins: {
                          legend: {
                              display: false,
                              position: 'bottom'
                          }
                        },
                        scales: {
                            x: {
                                stacked:false,
                                max:40
                            },
                            y: {
                                stacked:false,
                                max: 40,
                                ticks: {
                                    stepSize: 4
                                }
                            },
                            yAxes: [{
                                ticks: {
                                    fontColor: "black",
                                    beginAtZero: true,
                                    stepSize: 5
                                },
                                gridLines: {
                                    color:"rgb(56, 60, 74)"
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: "black"
                                },
                                gridLines: {
                                    color:"rgb(56, 60, 74)"
                                }
                            }]
                        }
                    }
                };
                window.onload = function () {
                    const ctx = document.getElementById('myChart').getContext('2d');
                    window.myLine = new Chart(ctx, config);

                }
            </script>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="card shadow-sm" style="min-height:400px;max-height:500px">
                <div class="card-header srg-link d-flex justify-content-between align-items-baseline pb-0">
                    <h4>Today's Schedule</h4>
                    <a href="{% url 'employee-todolist' %}" class="srg-link">View To-Do List</a>
                </div>
                <div class="card-body overflow-auto p-2">
                    <table class="srg-table">
                            <thead>
                            <tr class="srg-bg-primary text-light">
                                <th>Parent</th>
                                <th>Provider</th>
                                <th>Scope</th>
                                <th>Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in employee_td_entries %}
                                <tr>
                                    <td>{{ entry.engagement__parent_id }} - {{ entry.engagement__parent_id__parent_name }}</td>
                                    <td>{{ entry.engagement__provider_id }} - {{ entry.engagement__provider_id__provider_name }}</td>
                                    <td>{{ entry.engagement__time_code }} - {{ entry.engagement__time_code__time_code_desc }}</td>
                                    <td class="text-center">{{ entry.hsum }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header srg-header d-flex justify-content-between pb-0 d-flex align-items-baseline">
                    <h4>{{ user_info.first_name }}'s Calendar</h4>
                </div>
                <div class="card-body">

                    <div id="myCalendar">
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card shadow-sm" style="min-height:400px;max-height:500px">
                <div class="card-header srg-header d-flex justify-content-between pb-0 align-items-baseline">
                    <h4>{{ user_info.first_name }}'s Engagements</h4>
                    <input class="search-box" type="text" id="searchBar" onkeyup="searchEngagements()" placeholder="Search for engagements.." title="Type in a name">
                </div>
                <div class="card-body d-flex justify-content-center overflow-auto">
                    <table class="srg-table" id="srg-table">
                        <thead class="srg-bg-primary text-light">
                            <tr>
                                <th>Parent</th>
                                <th>Provider</th>
                                <th>Scope</th>
                                <th>FYE</th>
                                <th>HTD</th>
                                <th>Budget</th>
                                <th class="text-center">Variance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for engagement in user_engagements %}
                                <tr>
                                    <td>{{ engagement.parent_id }} - {{ engagement.parent__parent_name }}</td>
                                    <td>{{ engagement.provider_id }} - {{ engagement.provider__provider_name }}</td>
                                    <td>{{ engagement.time_code }}-{{ engagement.time_code__time_code_desc }}</td>
                                    <td>{{ engagement.fye|date:'m/d/Y' }}</td>
                                    <td class="text-center">{{ engagement.engagement_hours_sum }}</td>
                                    <td class="text-center">{{ engagement.budget_calc }}</td>
                                    <td class="text-center">{{ engagement.budget_calc|sub:engagement.engagement_hours_sum|floatformat:0 }}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

         <script>
          // Initialize the popover
          $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
          });
        </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                $(e.target).css("color", "#ffffff");
                $(e.target).css("background-color", "#02308C");
                $(e.target).css("border-color", "#02308C");
                $(e.relatedTarget).css("color", "#02308C");
                $(e.relatedTarget).css("background-color", "#ffffff");
                $(e.relatedTarget).css("border-color", "#a9a9a9");
            })
        })
    </script>
    <script>
        function searchEngagements() {
            // Declare Variables
            let input, filter, table, tr, td, i, txtValue, j;
            input = document.getElementById('searchBar');
            filter = input.value.toUpperCase();
            table = document.getElementById('srg-table');
            tr = table.getElementsByTagName('tr');

            // Loop through rows and display only matching ones
            for (i = 1; i < tr.length; i++) { // Start from 1 to skip the header row
            td = tr[i].getElementsByTagName("td");
            let rowContainsMatch = false;

            for (j = 0; j < td.length; j++) {
                txtValue = td[j].textContent || td[j].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    rowContainsMatch = true;
                    break; // No need to continue checking other cells in this row
                }
            }

            if (rowContainsMatch) {
                tr[i].style.display = "table-row";
            } else {
                tr[i].style.display = "none";
            }
        }
        }
    </script>
    <script>
        function searchClients() {
            // Declare Variables
            let input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('searchBar')
            filter = input.value.toUpperCase();
            console.log(filter)
            ul = document.getElementById('clientList')
            li = ul.getElementsByTagName('a');

            // Loop through elements and display only matches
            for (i = 0; i < li.length; i++) {
                // a = li[i].getElementsByTagName("a")[0];
                txtValue = li[i].textContent || li[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "block";
                } else {
                    li[i].style.display = "none";
                }
            }

        }
    </script>


    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
          const calendarEl = document.getElementById('myCalendar');
          const calendar = new FullCalendar.Calendar(calendarEl, {
              initialView: 'dayGridMonth',
              height:650,
              events: [
                  {% for event in employee_td_entries_all %}
                      {
                          title: '{{ event.engagement__provider_id|safe }} - {{ event.engagement__time_code }} - {{ event.hsum }} Hours',
                          start: '{{ event.todo_date|date:'Y-m-d' }}',
                          end: '{{ event.todo_date|date:'Y-m-d' }}'
                      },
                  {% endfor %}
              ]
          });
          calendar.render();
      });

    </script>



{% endblock %}