{% extends 'layoutV2.html' %}
{% load mathfilters %}

{% block content %}
    <div id="loading-screen">
        <div class="">
            <div class="spinner"></div><br>
            <p>Loading...</p>
        </div>
    </div>
    <!--
        <div class="row p-0">
            <div class="col-12 p-0">
                <div class="srg-bg-primary px-4 py-2 shadow-sm d-flex justify-content-between">
                    <span class="srg-text-secondary display-6 fs-2 lh-base">Admin Scheduling</span>

                    <span class="srg-text-secondary display-6 fs-2 lh-base">{{ today|date:'l, F d, Y' }} </span>
                </div>
            </div>
        </div>
    -->
    <div class="container-fluid">
        <div class="row mt-1 d-flex justify-content-center vh-lg-100">
            <div class="col-xxl-8 col-xl-10 col-lg-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-header srg-bg-primary srg-text-secondary d-flex justify-content-between align-items-baseline">
                        <span class="display-5 fs-3">Staff Availability</span>
                    </div>
                    <div class="card-body px-0">
                        <div class="carousel slide d-flex justify-content-between" id="carouselExample">
                            <button class="border-0 bg-transparent srg-link" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                <span class="srg-link" aria-hidden="true"><i class="bi bi-arrow-left"></i></span>
                                <span class="">Previous</span>
                            </button>

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="d-flex justify-content-between gap-2">
                                        <div class="card border-0">
                                            <div class="card-header srg-bg-primary-light fw-bolder d-flex justify-content-between">
                                                <span>Current Week</span> <span>{{ week_beg }} - {{ week_end }}</span>
                                            </div>
                                            <div class="card-body p-0">
                                                <table class="srg-table" id="currentTable">
                                                    <thead>
                                                        <tr class="srg-bg-primary-light" style="background: #afc0df">
                                                            <th class="" style="background: #afc0df" onclick="sortTable(0, 'currentTable')">Employee</th>
                                                            <th class="text-center" style="background: #afc0df" onclick="sortTable(1, 'currentTable')">Billable <i class="bi bi-arrow-down-up"></i></th>
                                                            <th class="text-center" style="background: #afc0df" onclick="sortTable(2, 'currentTable')">Non-Billable <i class="bi bi-arrow-down-up"></i></th>
                                                            <th class="text-center" style="background: #afc0df" onclick="sortTable(3, 'currentTable')">Total <i class="bi bi-arrow-down-up"></i></th>
                                                            <th class="text-center" style="background: #afc0df" onclick="sortTable(4, 'currentTable')">HPW</th>
                                                            <th class="text-center" style="background: #afc0df" onclick="sortTable(5, 'currentTable')">Avail. <i class="bi bi-arrow-down-up"></i></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for emp in current_week_hours %}
                                                        <tr>
                                                            <td><a href="{% url 'admin-employee-dashboard' emp.employee__user__username week_beg week_end %}" class="srg-link">{{ emp.employee__user__username }}</a></td>
                                                            <td>{{ emp.billable_hours_sum }}</td>
                                                            <td>{{ emp.non_billable_hours_sum }}</td>
                                                            <td>{{ emp.total_hours_sum }}</td>
                                                            <td>40</td>
                                                            <td>{{ 40|sub:emp.billable_hours_sum }}</td>
                                                        </tr>
                                                    {% endfor %}

                                                    {% for e in current_week_no_hours %}
                                                        <tr>
                                                            <td><a href="{% url 'admin-employee-dashboard' e week_beg week_end %}" class="srg-link">{{ e }}</a></td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>40</td>
                                                        <td>40</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="card border-0">
                                            <div class="card-header srg-bg-secondary fw-bolder d-flex justify-content-between">
                                                <span>Next Week</span> <span>{{ next_week_beg }} - {{ next_week_end }}</span>
                                            </div>
                                            <div class="card-body p-0">
                                                <table class="srg-table" id="nextWeekTable">
                                                    <thead>
                                                        <tr>
                                                            <th class="srg-bg-secondary" onclick="sortTable(0, 'nextWeekTable')">Employee</th>
                                                            <th class="text-center srg-bg-secondary" onclick="sortTable(1, 'nextWeekTable')">Billable <i class="bi bi-arrow-down-up"></i></th>
                                                            <th class="text-center srg-bg-secondary" onclick="sortTable(2, 'nextWeekTable')">Non-Billable <i class="bi bi-arrow-down-up"></i></th>
                                                            <th class="text-center srg-bg-secondary" onclick="sortTable(3, 'nextWeekTable')">Total <i class="bi bi-arrow-down-up"></i></th>
                                                            <th class="text-center srg-bg-secondary" onclick="sortTable(4, 'nextWeekTable')">HPW</th>
                                                            <th class="text-center srg-bg-secondary" onclick="sortTable(5, 'nextWeekTable')">Avail. <i class="bi bi-arrow-down-up"></i></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for emp in next_week_hours %}
                                                        <tr>
                                                            <td><a href="{% url 'admin-employee-dashboard' emp.employee__user__username next_week_beg next_week_end %}" class="srg-link">{{ emp.employee__user__username }}</a></td>
                                                            <td>{{ emp.billable_hours_sum }}</td>
                                                            <td>{{ emp.non_billable_hours_sum }}</td>
                                                            <td>{{ emp.total_hours_sum }}</td>
                                                            <td>40</td>
                                                            <td>{{ 40|sub:emp.billable_hours_sum }}</td>
                                                        </tr>
                                                    {% endfor %}

                                                    {% for e in next_week_no_hours %}
                                                        <tr>
                                                            <td><a href="{% url 'admin-employee-dashboard' e next_week_beg next_week_end %}" class="srg-link">{{ e }}</a></td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>40</td>
                                                        <td>40</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-flex justify-content-between gap-2">
                                        <div class="card border-0">
                                            <div class="card-header srg-bg-success-light fw-bolder d-flex justify-content-between">
                                                <span>Two Weeks Out</span> <span>{{ two_week_beg }} - {{ two_week_end }}</span>
                                            </div>

                                            <div class="card-body p-0">
                                                <table class="srg-table" id="twoWeekTable">
                                                    <thead>
                                                        <tr>
                                                            <th class="" style="background: #b1c2af" onclick="sortTable(0, 'twoWeekTable')">Employee</th>
                                                            <th class="text-center" style="background: #b1c2af" onclick="sortTable(1, 'twoWeekTable')">Billable <i class="bi bi-arrow-down-up"></i></th>
                                                            <th class="text-center" style="background: #b1c2af" onclick="sortTable(2, 'twoWeekTable')">Non-Billable <i class="bi bi-arrow-down-up"></i></th>
                                                            <th class="text-center" style="background: #b1c2af" onclick="sortTable(3, 'twoWeekTable')">Total <i class="bi bi-arrow-down-up"></i></th>
                                                            <th class="text-center" style="background: #b1c2af" onclick="sortTable(4, 'twoWeekTable')">HPW</th>
                                                            <th class="text-center" style="background: #b1c2af" onclick="sortTable(5, 'twoWeekTable')">Avail. <i class="bi bi-arrow-down-up"></i></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for emp in two_week_hours %}
                                                        <tr>
                                                            <td><a href="{% url 'admin-employee-dashboard' emp.employee__user__username two_week_beg two_week_end %}" class="srg-link">{{ emp.employee__user__username }}</a></td>
                                                            <td>{{ emp.billable_hours_sum }}</td>
                                                            <td>{{ emp.non_billable_hours_sum }}</td>
                                                            <td>{{ emp.total_hours_sum }}</td>
                                                            <td>40</td>
                                                            <td>{{ 40|sub:emp.billable_hours_sum }}</td>
                                                        </tr>
                                                    {% endfor %}

                                                    {% for e in two_week_no_hours %}
                                                        <tr>
                                                            <td><a href="{% url 'admin-employee-dashboard' e two_week_beg two_week_end %}" class="srg-link">{{ e }}</a></td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>40</td>
                                                        <td>40</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <div class="card border-0">
                                            <div class="card-header srg-bg-danger-light fw-bolder d-flex justify-content-between">
                                                <span>Three Weeks Out</span> <span>{{ three_week_beg }} - {{ three_week_end }}</span>
                                            </div>

                                            <div class="card-body p-0">
                                                <table class="srg-table" id="threeWeekTable">
                                                    <thead>
                                                        <tr>
                                                            <th class="" style="background: #b1c2af" onclick="sortTable(0, 'threeWeekTable')">Employee</th>
                                                            <th class="text-center " style="background: #b1c2af" onclick="sortTable(1, 'threeWeekTable')">Billable <i class="bi bi-arrow-down-up"></i></th>
                                                            <th class="text-center " style="background: #b1c2af" onclick="sortTable(2, 'threeWeekTable')">Non-Billable <i class="bi bi-arrow-down-up"></i></th>
                                                            <th class="text-center " style="background: #b1c2af" onclick="sortTable(3, 'threeWeekTable')">Total <i class="bi bi-arrow-down-up"></i></th>
                                                            <th class="text-center " style="background: #b1c2af" onclick="sortTable(4, 'threeWeekTable')">HPW</th>
                                                            <th class="text-center " style="background: #b1c2af" onclick="sortTable(5, 'threeWeekTable')">Avail. <i class="bi bi-arrow-down-up"></i></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for emp in three_week_hours %}
                                                        <tr>
                                                            <td><a href="{% url 'admin-employee-dashboard' emp.employee__user__username three_week_beg three_week_end %}" class="srg-link">{{ emp.employee__user__username }}</a></td>
                                                            <td>{{ emp.billable_hours_sum }}</td>
                                                            <td>{{ emp.non_billable_hours_sum }}</td>
                                                            <td>{{ emp.total_hours_sum }}</td>
                                                            <td>40</td>
                                                            <td>{{ 40|sub:emp.billable_hours_sum }}</td>
                                                        </tr>
                                                    {% endfor %}

                                                    {% for e in three_week_no_hours %}
                                                        <tr>
                                                            <td><a href="{% url 'admin-employee-dashboard' e three_week_beg three_week_end %}" class="srg-link">{{ e }}</a></td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>40</td>
                                                        <td>40</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                              <button class="border-0 bg-transparent srg-link" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                <span class="srg-link" aria-hidden="true"><i class="bi bi-arrow-right"></i></span>
                                <span class="">Next</span>
                              </button>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header srg-bg-secondary">
                        <h4 class="fw-normal srg-header">Filter</h4>
                    </div>
                    <div class="card-body">
                        <form method="get">
                            {% for field in todo_filter.form %}
                                <div class="fieldWrapper mb-3">
                                    {{ field.label_tag }} <br> {{ field }}
                                    {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="card-footer bg-transparent d-flex justify-content-start align-items-center gap-3 px-0 py-2 m-0">
                                    <input class="srg-btn-primary" type="submit" value="Search">
                                    <input class="srg-btn-secondary" name='extract_button' type="submit" value="Extract">
                                <a class="srg-link" href="{% url 'admin-planning' %}">Clear Form</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 d-flex justify-content-center">

            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>Staff</th>
                            <th>Provider</th>
                            <th>Engagement</th>
                            <th>Hours</th>
                        </tr>
                    </thead>
                    {% for dy in period_days %}
                        <tr>
                            <th scope="row" colspan="4" class="srg-bg-secondary text-center" style="background-color: #d9d9d9">{{ dy|date:'l, F d, Y' }}</th>
                            {% for item in todo_filter.qs %}
                                {% if item.todo_date == dy %}
                                    <tr>
                                        <td>{{ item.employee__user__username }}</td>
                                        <td>{{ item.engagement__provider }} - {{ item.engagement__provider__provider_name }}</td>
                                        <td>{{ item.engagement__engagement_srg_id }}</td>
                                        <td>{{ item.anticipated_hours }}</td>
                                    </tr>
                                {% else %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        -->

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


        <script>

            function searchClients() {
                // Declare Variables
                let input, filter, ul, li, a, i, txtValue;
                input = document.getElementById('searchBar')
                filter = input.value.toUpperCase();
                console.log(filter)
                ul = document.getElementById('clientList')
                li = ul.getElementsByClassName('srg-list-group-item');

                // Loop through elements and display only matches
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    txtValue = li[i].textContent || li[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "block";
                    } else {
                        li[i].style.display = "none";
                    }
                }

            }
        </script>

        <script>
          // Initialize the popover
          $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
          });
        </script>

        <script>
            let sortingOrder = 1
            function sortTable(columnIndex, table_id) {
                let table, rows, switching, i, x, y, shouldSwitch;
                table = document.getElementById(table_id);
                switching = true;
                while (switching) {
                    switching = false;
                    rows = table.getElementsByTagName("tr");

                    for (i=1; i < (rows.length - 1); i++) {
                        shouldSwitch = false;

                        x = parseFloat(rows[i].getElementsByTagName("td")[columnIndex].textContent);
                        y = parseFloat(rows[i + 1].getElementsByTagName("td")[columnIndex].textContent);

                        if (!isNaN(x) && !isNaN(y) && sortingOrder * x < sortingOrder * y) {
                            shouldSwitch = true;
                            break;
                        }
                    }

                    if (shouldSwitch) {
                        rows[i].parentNode.insertBefore(rows[i+1], rows[i]);
                        switching = true;
                    }
                }
                sortingOrder *= -1

            }
        </script>

        <script>
            let toggleButton = document.getElementById("toggleButton")
            let myDiv = document.getElementById("myDiv")

            toggleButton.addEventListener("click", function () {
                if (myDiv.style.display === 'none') {
                    myDiv.style.display = 'block'
                } else {
                    myDiv.style.display= 'none'
                }
            })
        </script>

        <script>
            // Hide the spinner when the page is fully loaded
            window.onload = function () {
                  // Hide the loading screen when the entire page is loaded
                const loadingScreen = document.getElementById("loading-screen");
                loadingScreen.style.display = "none";
                const scrollToElement = document.getElementById("today");

                if (scrollToElement) {
                   scrollToElement.scrollIntoView({
                       behavior: "smooth",
                       block: "start"
                   })
                }
            };

            </script>

            <script>
                // Hide the spinner when the page is fully loaded
                window.addEventListener("beforeunload", function() {
                    const spinner = document.getElementById("loading-screen");
                    spinner.style.display = ""; // Change to "none" if you want it to hide initially
                });
        </script>




{% endblock %}