{% extends 'layout.html' %}

{% block content %}
    <div class="row d-flex justify-content-center vh-75">
        <div class="col-9 pt-2 vh-75">
            <div class="card">
                <div class="card-header srg-bg-primary p-2 srg-text-secondary text-center d-flex align-items-baseline justify-content-between">
                    <h4>Engagement Assignments</h4>
                    <h6><a href="{% url 'engagement-detail' engagement_instance.engagement_id %}" class="srg-link-secondary">Back to Detail</a></h6>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Engagement ID</th>
                                <th>Parent</th>
                                <th>Provider</th>
                                <th>Scope</th>
                                <th>FYE</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>{{ engagement_instance.engagement_srg_id }}</td>
                            <td>{{ engagement_instance.getParentName }}</td>
                            <td>{{ engagement_instance.provider_id }} - {{ engagement_instance.getProviderName }}</td>
                            <td>{{ engagement_instance.time_code }}</td>
                            <td>{{ engagement_instance.fye|date:'m/d/Y' }}
                        </tr>
                    </table>
                    <div class="row mt-2 overflow-auto">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header text-center">
                                    <h5 class="srg-header">Assigned</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row d-flex justify-content-evenly">
                                    {% for emp in engagement_assignments %}
                                        <div class="card col-5 d-flex justify-content-start mb-2">
                                            <a class="srg-link text-decoration-none py-1" href="{% url 'remove-engagement-assign' engagement_instance.engagement_id emp.employee_id %}"><i class="bi bi-dash-circle"></i> {{ emp.employee }}</a>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header text-center">
                                    <h5 class="srg-header">Available</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row d-flex justify-content-evenly">
                                        {% for item in available_staff %}
                                            <div class="card col-5 d-flex justify-content-start mb-2">
                                                <a class="srg-link text-decoration-none py-1" href="{% url 'add-engagement-assign' engagement_instance.engagement_id item.employee_id %}"><i class="bi bi-plus-circle"></i> {{ item }}</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}