{% extends 'layoutV2.html' %}
{% load humanize %}

{% block content %}
    <div class="row d-flex justify-content-center vh-100">
        <div class="col-3 mt-2">
            <div class="card">
                <div class="card-header srg-bg-primary srg-text-secondary d-flex justify-content-between align-items-center">
                    <span class="display-6 fs-3">Filter</span>
                </div>
                <div class="card-body">
                    <form method="get">
                        {% for field in filter.form %}
                            <div class="fieldWrapper mb-3">
                                <p>{{ field.label_tag|title }} <br> {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="card-footer bg-transparent d-flex justify-content-start align-items-center gap-3 px-0 py-2 m-0">
                            <button class="srg-btn-primary" type="submit"><i class="bi bi-search"></i> Search</button>
                            <a class="srg-link" href="{% url 'employee-expenses' %}">Clear Form</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-9 mt-2">
            <div class="card">
                <div class="card-header srg-bg-primary srg-text-secondary d-flex justify-content-between align-items-center">
                    <span class="display-6 fs-3">Expenses</span>
                </div>
                <div class="card-body">
                    <div class="">
                        <table class="srg-table">
                            <thead>
                                <tr class="">
                                    <th>Date</th>
                                    <th class="">Provider</th>
                                    <th class="">Scope</th>
                                    <th class="">Category</th>
                                    <th class="">Amount</th>
                                    <th class="">Billable</th>
                                    <th class="">Actions</th>
                                </tr>
                            </thead>

                            {% for entry in filter.qs %}
                                <tr>
                                    <td>
                                        {{ entry.date|date:'m/d/Y' }}
                                    </td>
                                    <td>
                                        {{ entry.engagement__provider }} - {{ entry.engagement__provider__provider_name }}
                                    </td>
                                    <td>
                                        {{ entry.engagement__time_code }} - {{ entry.engagement__time_code__time_code_desc }}
                                    </td>
                                    <td>
                                        {{ entry.expense_category__expense_category }}
                                    </td>
                                    <td>
                                        {{ entry.expense_amount|intcomma }}
                                    </td>
                                    <td>
                                        {{ entry.time_type_id }}
                                    </td>
                                    <td class="text-center">
                                        <a type="button" class="srg-link edit-button" data-bs-toggle="modal" href="#edit-expense-modal" data-expense-id="{{ entry.expense_id }}">
                                          <i class="bi bi-pencil-square"></i>
                                        </a>

                                        <a type="button" class="srg-link-danger" data-engagement-id="{{ entry.expense_id }}"
                                                href="{% url 'delete-expense-entry' entry.expense_id %}">
                                          <i class="bi bi-trash3"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <th>Total</th>
                                    <th>{{ qs_expense_total.expense_sum|intcomma }}</th>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="edit-expense-modal" tabindex="-1" aria-labelledby="edit-expense-modal" aria-hidden="true">
            <div class="modal-dialog" id="modal">
                <div class="modal-content">
                    <div class="modal-header srg-bg-secondary srg-header fs-5">
                        Edit Expense
                    </div>
                    <div class="modal-body">
                        <form class="" method="POST" id="editExpenseForm" action="{% url 'update-expense' %}">
                            {% csrf_token %}
                                <label for="expense-id">Record #:</label><br>
                                <input class="w-50" name="expense-id-input" type="text" id="expense-id" /><br>
                            {% for field in edit_exp_form %}
                                <div class="fieldWrapper my-3">
                                    {{ field.label_tag }} <br>{{ field }}
                                    {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <button name="edit_expense_button" type="submit" class="srg-btn-primary my-2">Save Entry</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            // Handle "Edit" button clicks
            $('.edit-button').click(function () {
                let expenseID = $(this).data('expense-id');
                let editExpenseForm = $('#editExpenseForm')

                // Fetch details using AJAX
                $.ajax({
                    url: '/get_expense/' + expenseID + '/',
                    type: 'GET',
                    success: function (data) {
                        //Populate From fields with task details
                        editExpenseForm.find('#expense-id').val(expenseID)
                        editExpenseForm.find('#id_date').val(data.expense_date)
                        editExpenseForm.find('#id_engagement').val(data.engagement)
                        editExpenseForm.find('#id_expense_category').val(data.category)
                        editExpenseForm.find('#id_expense_amount').val(data.expense_amount)
                        editExpenseForm.find('#id_time_type_id').val(data.btype)
                        editExpenseForm.find('#id_expense_note').val(data.note)
                    }
                })
            })
        })
    </script>
        <script>

            function searchClients() {
                // Declare Variables
                let input, filter, ul, li, a, i, txtValue;
                input = document.getElementById('searchBar')
                filter = input.value.toUpperCase();
                console.log(filter)
                ul = document.getElementById('clientList')
                li = ul.getElementsByClassName('srg-list-group-item');

                // Loop through elements and display only matches
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    txtValue = li[i].textContent || li[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "block";
                    } else {
                        li[i].style.display = "none";
                    }
                }

            }
        </script>

        <script>
          // Initialize the popover
          $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
          });
        </script>






{% endblock %}