{% extends 'layoutV2.html' %}

{% block content %}
    <div id="loading-screen">
        <div class="">
            <div class="spinner"></div><br>
            <p>Loading...</p>
        </div>

    </div>
    <div class="row border vh-100">
        <div class="col-xxl-4 col-xl-6 vh-100">
            <div class="card vh-100 flex-shrink-1">
                <div class="card-header srg-bg-primary srg-text-secondary d-flex justify-content-between align-items-center">
                    <span class="display-6 fs-3">My Engagements</span>
                    <input class="search-box" type="text" id="searchBar" onkeyup="searchClients()" placeholder="Search for engagements.." title="Type in a name">
                </div>

                <div class="card-body px-2 py-2 overflow-auto">
                    <table class="srg-table-borderless" id="engagement-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Provider</th>
                                <th>Time Code</th>
                                <th>FYE</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for engagement in user_engagements %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ engagement.provider }}</td>
                                    <td>{{ engagement.time_code }}</td>
                                    <td>{{ engagement.fye|date:'m/d/Y' }}</td>
                                    <td class="">
                                        <div class="btn-group gap-1">
                                            <button type="button" class="srg-btn-small-primary" data-bs-toggle="modal" data-toggle="tooltip" data-title="Yay"
                                               data-bs-target="#time-modal" data-engagement-id="{{ engagement.engagement_srg_id }}"
                                               href="#time-modal" aria-controls="time-modal"><svg class="bi"><use xlink:href="#clock-circle"/></svg>
                                            </button>
                                            <button type="button" class="srg-btn-small-success" data-bs-toggle="modal" data-toggle="tooltip" data-title="Yay"
                                               data-bs-target="#expense-modal" data-engagement-id="{{ engagement.engagement_srg_id }}"
                                               href="#expense-modal" aria-controls="expense-modal"><svg class="bi"><use xlink:href="#dollar-sign"/></svg>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="modal fade" id="time-modal" tabindex="-1" aria-labelledby="time-modal" aria-hidden="true">
                        <div class="modal-dialog" id="modal">
                            <div class="modal-content">
                                <div class="modal-header srg-bg-primary text-light fs-5">
                                    Record Time
                                </div>
                                <div class="modal-body">
                                    <form class="" method="POST">
                                        {% csrf_token %}
                                            <label for="my-input">Engagement:</label><br>
                                            <input name="engagement-input" type="text" id="my-input" /><br>
                                        {% for field in time_form %}
                                            <div class="fieldWrapper my-3">
                                                {{ field.label_tag }} <br>{{ field }}
                                                {% if field.help_text %}
                                                    <p class="help">{{ field.help_text|safe }}</p>
                                                {% endif %}
                                            </div>

                                        {% endfor %}
                                        <button name="time_button" class="srg-btn-primary my-2">Record Time</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="expense-modal" tabindex="-1" aria-labelledby="expense-modal" aria-hidden="true">
                        <div class="modal-dialog" id="modal">
                            <div class="modal-content">
                                <div class="modal-header srg-bg-success text-light fs-5">
                                    Record Expense
                                </div>
                                <div class="modal-body">
                                    <form class="" method="POST">
                                        {% csrf_token %}
                                            <label for="my-input">Engagement:</label><br>
                                            <input name="expense-input" type="text" id="my-input" /><br>
                                        {% for field in expense_form %}
                                            <div class="fieldWrapper my-3">
                                                {{ field.label_tag }} <br>{{ field }}
                                                {% if field.help_text %}
                                                    <p class="help">{{ field.help_text|safe }}</p>
                                                {% endif %}
                                            </div>

                                        {% endfor %}
                                        <button name="expense_button" class="srg-btn-success my-2">Record Expense</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="view-expense-modal" tabindex="-1" aria-labelledby="view-expense-modal" aria-hidden="true">
                        <div class="modal-dialog modal-lg" id="modal">
                            <div class="modal-content">
                                <div class="modal-header srg-bg-success text-light fs-5">
                                    Expenses <span id="expense-day-text"></span>
                                </div>
                                <div class="modal-body">
                                    <table class="srg-table" id="expense-table">
                                        <thead>
                                            <tr>
                                                <th class="">Provider</th>
                                                <th class="">Scope</th>
                                                <th class="">Category</th>
                                                <th class="">Amount</th>
                                                <th class="">Billable</th>
                                                <th class="">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 vh-100">
            <div class="card vh-100">
                <div class="card-header srg-text-secondary srg-bg-primary d-flex justify-content-between align-items-baseline">
                    <span class="display-6 fs-3">Submit Timesheet for Period: {{ last_week_beg|date:'m/d/Y' }} - {{ last_week_end|date:'m/d/Y' }}</span>
                    <span class="display-6 fs-3">{{ total_available_hours }} hrs. avail</span>
                </div>
                <div class="card-body overflow-auto">
                    {% for dy in current_week %}
                        <div class="row mb-4 shadow-sm" style="border-bottom-left-radius:12px; border-top-left-radius: 12px;"
                        {% if dy == today %}id="today"{% endif %}>
                            <!--
                            <div class="col-2 p-0 d-flex justify-content-center align-items-center {% if dy == today %}srg-bg-primary srg-text-secondary{% else %}srg-bg-secondary srg-header {% endif %}"
                            style="border-bottom-left-radius:12px; border-top-left-radius: 12px;">
                                <p class="fs-4">
                                    {{ dy|date:'l' }}<br>
                                    {{ dy|date:'m/d/y' }}
                                </p>
                            </div>
                            -->
                            <div class="col-12 p-0">
                                <div class="card-header border-bottom-0 d-flex justify-content-between srg-bg-secondary srg-header align-items-baseline">
                                    <span class="display-6 fs-4">{{ dy|date:'l' }}
                                            {{ dy|date:'m/d/y' }}</span>

                                    <a class="srg-link-success" data-bs-toggle="modal" data-toggle="tooltip" data-title="Yay"
                                               data-bs-target="#view-expense-modal" data-dt="{{ dy|date:'Y-m-d' }}"
                                               href="#view-expense-modal" aria-controls="view-expense-modal"><svg class="bi"><use xlink:href="#dollar-sign"/></svg>View Expense</a>
                                </div>
                                <div class="card-body p-2">
                                    <table class="srg-table">
                                        <thead>
                                            <tr class="">
                                                <th class="">Provider</th>
                                                <th class="">Scope</th>
                                                <th class="">Hours</th>
                                                <th class="text-center">Note</th>
                                                <th class="text-center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for entry in employee_ts_entries %}
                                                {% if entry.ts_date == dy %}
                                                    <tr>
                                                        <td>
                                                            {{ entry.getProvider }}
                                                        </td>
                                                        <td>

                                                            {{ entry.getScope }}
                                                        </td>
                                                        <td>
                                                            {{ entry.hours }}
                                                        </td>
                                                        <td class="text-center">
                                                            {% if entry.note == '' %}
                                                            {% else %}
                                                                <a type="button" class="srg-link" data-toggle="popover" data-bs-placement="left" data-bs-content="{{ entry.note|safe }}">
                                                                  <i class="bi bi-stickies-fill"></i>
                                                                </a>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center">
                                                            <a type="button" class="srg-link edit-button" data-bs-toggle="modal" href="#edit-modal" data-ts-id="{{ entry.timesheet_id }}">
                                                              <i class="bi bi-pencil-square"></i>
                                                            </a>

                                                            <a type="button" class="srg-link-danger" data-engagement-id="{{ entry.timesheet_id }}"
                                                                    href="{% url 'delete-time-entry' entry.timesheet_id %}">
                                                              <i class="bi bi-trash3"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    {% else %}
                                                    {% endif %}
                                            {% endfor %}
                                        </tbody>
                                        {% for total in employee_hours_by_day %}
                                            {% if total.ts_date == dy %}
                                                <tfoot>
                                                    <tr>
                                                        <td></td>
                                                        <td>Total:</td>
                                                        <td>{{ total.ts_hours }}</td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tfoot>
                                            {% else %}
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="edit-modal" aria-hidden="true">
                            <div class="modal-dialog" id="modal">
                                <div class="modal-content">
                                    <div class="modal-header srg-bg-secondary srg-header fs-5">
                                        Edit Entry
                                    </div>
                                    <div class="modal-body">
                                        <form class="" method="POST" id="editTimeForm" action="{% url 'update-rev-ts' %}">
                                            {% csrf_token %}
                                                <label for="ts-id">Record #:</label><br>
                                                <input class="w-50" name="ts-id-input" type="text" id="ts-id" /><br>
                                            {% for field in edit_time_form %}
                                                <div class="fieldWrapper my-3">
                                                    {{ field.label_tag }} <br>{{ field }}
                                                    {% if field.help_text %}
                                                        <p class="help">{{ field.help_text|safe }}</p>
                                                    {% endif %}
                                                </div>

                                            {% endfor %}
                                            <button name="edit_time_button" type="submit" class="srg-btn-primary my-2">Save Entry</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="edit-expense-modal" tabindex="-1" aria-labelledby="edit-expense-modal" aria-hidden="true">
                            <div class="modal-dialog" id="modal">
                                <div class="modal-content">
                                    <div class="modal-header srg-bg-success text-white fs-5">
                                        Edit Expense
                                    </div>
                                    <div class="modal-body">
                                        <form class="" method="POST" id="editExpForm" action="{% url 'update-expense-review' %}">
                                            {% csrf_token %}
                                                <label for="exp-id">Record #:</label><br>
                                                <input class="w-50" name="exp-id-input" type="text" id="exp-id" /><br>
                                            {% for field in editExpForm %}
                                                <div class="fieldWrapper my-3">
                                                    {{ field.label_tag }} <br>{{ field }}
                                                    {% if field.help_text %}
                                                        <p class="help">{{ field.help_text|safe }}</p>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                            <button name="edit_expense_button" type="submit" class="srg-btn-primary my-2">Save Entry</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% if total_weekly_hours.hours_sum >= 40 %}
                        <div class="row mb-4">
                            <div class="col-12 d-flex justify-content-center">
                                <form method="POST">
                                    {% csrf_token %}
                                    <button name="submit_button" class="srg-btn-ol-primary w-100 text-center">Submit Timesheet</button>
                                    </form>
                            </div>
                        </div>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Handle "Edit" button clicks
            $('.edit-button').click(function () {
                let tsID = $(this).data('ts-id');
                let editTsForm = $('#editTimeForm');

                // Fetch details using AJAX
                $.ajax({
                    url: '/get_ts/' + tsID + '/',
                    type: 'GET',
                    success: function (data) {
                        //Populate from fields with task details
                        editTsForm.find('#ts-id').val(tsID)
                        editTsForm.find('#id_engagement').val(data.engagement)
                        editTsForm.find('#id_ts_date').val(data.ts_date)
                        editTsForm.find('#id_hours').val(data.hours)
                        editTsForm.find('#id_time_type_id').val(data.btype)
                        editTsForm.find('#id_note').val(data.note)
                    }
                })
            })
        })
    </script>
    <script>
        const expenseDayModal = document.getElementById('view-expense-modal');
        expenseDayModal.addEventListener('hidden.bs.modal', event=> {
            let expenseTableBody = document.querySelector("#expense-table tbody")
            while (expenseTableBody.firstChild) {
                expenseTableBody.removeChild(expenseTableBody.firstChild)
            }
        })

        expenseDayModal.addEventListener('show.bs.modal', event => {
            let dte = $(event.relatedTarget).data("dt")
            let tableBody = document.querySelector("#expense-table tbody")
            document.getElementById('expense-day-text').innerText = dte

            $.ajax({
                url:'/get_expense_list/' + dte + "/",
                type: 'GET',
                success: function (expenseDayList) {
                    expenseDayList.forEach(item => {
                        let row = document.createElement('tr')
                        let expenseID = item.expense_id
                        let url = `/delete-expense-review/${item.expense_id}/`
                        row.innerHTML = `
                                        <td>${item.engagement__provider} - ${item.engagement__provider__provider_name}</td>
                                        <td>${item.engagement__time_code} - ${item.engagement__time_code__time_code_desc }</td>
                                        <td>${item.expense_category__expense_category}</td>
                                        <td>${item.expense_amount}</td>
                                        <td>${item.time_type_id}</td>
                                        <td class="text-center">
                                                        <a type="button" class="srg-link edit-expense-button" data-bs-toggle="modal" href="#edit-expense-modal" data-exp-id="${expenseID}">
                                                          <i class="bi bi-pencil-square"></i>
                                                        </a>

                                                        <a type="button" class="srg-link-danger" href="${url}">
                                                          <i class="bi bi-trash3"></i>
                                                        </a>
                                                    </td>
                                        `
                        tableBody.appendChild(row)
                    })
                }
            })
        })
    </script>
    <script>
        const myModal = document.getElementById('time-modal')
        myModal.addEventListener('show.bs.modal', event => {
            //get data-id attribute of clicked event
            let engagementID = $(event.relatedTarget).data("engagement-id")
            //populate the input field
            $(event.currentTarget).find('input[name="engagement-input"]').val(engagementID)
        });
        const myExpenseModal = document.getElementById('expense-modal')
        myExpenseModal.addEventListener('show.bs.modal', event => {
            //get data-id attribute of clicked event
            let engagementID = $(event.relatedTarget).data("engagement-id")
            //populate the input field
            $(event.currentTarget).find('input[name="expense-input"]').val(engagementID)
        });
    </script>

    <script>
        const editExpenseModal = document.getElementById('edit-expense-modal');
        editExpenseModal.addEventListener('show.bs.modal', event => {
                let expID = $(event.relatedTarget).data("exp-id");
                let editExpForm = $('#editExpForm')
                console.log(expID)

                // Fetch details using AJAX
                $.ajax({
                    url: '/get_expense/' + expID + '/',
                    type: 'GET',
                    success: function (data) {
                        //Populate From fields with task details
                        editExpForm.find('#exp-id').val(expID)
                        editExpForm.find('#id_date').val(data.expense_date)
                        editExpForm.find('#id_engagement').val(data.engagement)
                        editExpForm.find('#id_expense_category').val(data.category)
                        editExpForm.find('#id_expense_amount').val(data.expense_amount)
                        editExpForm.find('#id_time_type_id').val(data.btype)
                        editExpForm.find('#id_expense_note').val(data.note)
                    }
                })
            })
    </script>
        <script>
            function searchClients() {
            let input, filter, table, rows, i, j, td, txtValue;
            input = document.getElementById('searchBar')
            filter = input.value.toUpperCase();
            table = document.getElementById('engagement-table');
            rows = table.getElementsByTagName("tr");

            for (i = 1; i < rows.length; i++) {
                let tds = rows[i].getElementsByTagName("td");
                let rowContainsFilter = false;

                for (j = 0; j < tds.length; j++) {
                    td = tds[j];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            rowContainsFilter = true;
                            break;  // no need to check other TDs, so break the loop
                        }
                    }
                }

                rows[i].style.display = rowContainsFilter ? "" : "none";
            }
        }
        </script>

        <script>
          // Initialize the popover
          $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
          });
        </script>

        <script>
        // Hide the spinner when the page is fully loaded
       window.onload = function () {
              // Hide the loading screen when the entire page is loaded
           const loadingScreen = document.getElementById("loading-screen");
           loadingScreen.style.display = "none";
           const scrollToElement = document.getElementById("today");

           if (scrollToElement) {
               scrollToElement.scrollIntoView({
                   behavior: "smooth",
                   block: "start"
               })
           }
            };

        </script>

        <script>
            // Hide the spinner when the page is fully loaded
            window.addEventListener("beforeunload", function() {
                const spinner = document.getElementById("loading-screen");
                spinner.style.display = ""; // Change to "none" if you want it to hide initially
            });
        </script>




{% endblock %}