{% extends 'layoutV2.html' %}

{% block content %}
    <div id="loading-screen">
        <div class="">
            <div class="spinner"></div><br>
            <p>Loading...</p>
        </div>

    </div>

    <div class="row">
        <div class="col-xxl-4 col-xl-6">
            <div class="card vh-100 flex-shrink-1">
                <div class="card-header srg-bg-primary d-flex justify-content-between">
                    <span class="srg-text-secondary display-6 fs-3">My Engagements</span>
                    <input class="search-box" type="text" id="searchBar" onkeyup="searchClients()" placeholder="Search for engagements.." title="Type in a name">
                </div>

                <div class="card-body px-2 py-2 overflow-auto">
                    <table class="srg-table-borderless" id="engagement-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Provider</th>
                                <th>Time Code</th>
                                <th>FYE</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for engagement in user_engagements %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ engagement.provider }}</td>
                                    <td>{{ engagement.time_code }}</td>
                                    <td>{{ engagement.fye|date:'m/d/Y' }}</td>
                                    <td class="text-center">
                                        <a type="button" class="srg-link" data-bs-toggle="modal" data-toggle="tooltip" data-title="Yay"
                                           data-bs-target="#todo-modal" data-engagement-id="{{ engagement.engagement_srg_id }}"
                                           href="#todo-modal" aria-controls="todo-modal"><svg class="bi"><use xlink:href="#plus-circle"/></svg>
                                        </a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="todo-modal" tabindex="-1" aria-labelledby="todo-modal-modal" aria-hidden="true">
                    <div class="modal-dialog" id="modal">
                        <div class="modal-content">
                            <div class="modal-header srg-bg-primary text-light fs-5">
                                Add Item
                            </div>
                            <div class="modal-body">
                                <form class="" method="POST" id="td-form" action="{% url 'employee-todolist' %}">
                                    {% csrf_token %}
                                        <label for="engagement-input">Engagement:</label><br>
                                        <input name="engagement-input" type="text" id="engagement-input"/><br>
                                    {% for field in todo_form %}
                                        <div class="fieldWrapper my-3">
                                            {{ field.label_tag }} <br>{{ field }} <span class="srg-text-danger list-group-item-danger">{{ field.errors|safe }}</span>
                                            {% if field.help_text %}
                                                <p class="help">{{ field.help_text|safe }}</p>
                                            {% endif %}
                                        </div>
                                    {% endfor %}

                                    <input type="submit" class="srg-btn-primary my-2"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8 vh-100">
            <div class="card vh-100">
                <div class="card-header srg-text-secondary srg-bg-primary d-flex justify-content-between align-items-baseline">
                    <span class="display-6 fs-3">Current To-Do List</span>
                </div>
                <div class="card-body overflow-auto px-1">
                    <div id="myCalendar"></div>

                    <div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="edit-modal" aria-hidden="true">
                        <div class="modal-dialog" id="modal">
                            <div class="modal-content">
                                <div class="modal-header srg-bg-secondary srg-header fs-5">
                                    Edit Entry
                                </div>
                                <div class="modal-body">
                                    <form class="" method="POST" id="editTodoForm" action="{% url 'update-td' %}">
                                        {% csrf_token %}
                                            <label for="td-id">Record #:</label><br>
                                            <input class="w-50" name="td-id-input" type="text" id="td-id" /><br>
                                        {% for field in edit_todo_form %}
                                            <div class="fieldWrapper my-3">
                                                {{ field.label_tag }} <br>{{ field }}
                                                {% if field.help_text %}
                                                    <p class="help">{{ field.help_text|safe }}</p>
                                                {% endif %}
                                            </div>

                                        {% endfor %}
                                        <button name="edit_todo_button" type="submit" class="srg-btn-primary my-2">Save Entry</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="day-modal" tabindex="-1">
        <div class="modal-dialog modal-xl" id="dmodal">
            <div class="modal-content">
                <div class="modal-header srg-bg-secondary srg-header d-flex justify-content-center gap-2">
                    <span class="fs-3 display-6" id="day-text"></span> <span class="fs-3 display-6">Schedule</span>
                </div>
                <div class="modal-body">
                    <table class="srg-table" id="day-table">
                        <thead>
                            <tr class="">
                                <th>Provider</th>
                                <th>Time Code</th>
                                <th>FYE</th>
                                <th>Hours</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="cal-modal" tabindex="-1">
        <div class="modal-dialog" id="modal" >
            <div class="modal-content" style="width: 600px">
                <div class="modal-header srg-bg-secondary srg-header">
                    <span class="fs-3 display-6">View To-Do Item</span>
                </div>
                <div class="modal-body" id="eventModal">
                    <table class="srg-table">
                        <tr>
                            <th>Date:</th>
                            <td id="dateText"></td>
                        </tr>
                        <tr>
                            <th>Provider:</th>
                            <td id="pText"></td>
                        </tr>
                        <tr>
                            <th>Scope:</th>
                            <td id="tcText"></td>
                        </tr>
                        <tr>
                            <th>Fiscal Year:</th>
                            <td id="fyText"></td>
                        </tr>
                        <tr>
                            <th>Est. Hours:</th>
                            <td id="hText"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <a type="button" id="edit-button" class="srg-btn-secondary edit-button text-decoration-none" data-bs-toggle="modal" href="#edit-modal" data-td-id="">
                      <svg class="bi"><use xlink:href="#edit"></use></svg> Edit
                    </a>

                    <a type="button" class="srg-link-danger" id="td-modal-delete-button" data-engagement-id="{{ item.todolist_id }}"
                       href="#">
                        <svg class="bi"><use xlink:href="#trash"></use></svg> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="week-modal" tabindex="-1">
        <div class="modal-dialog modal-xl" id="wmodal">
            <div class="modal-content">
                <div class="modal-header srg-bg-secondary srg-header d-flex justify-content-center gap-2">
                    <span class="fs-3 display-6" id="week-beg-text"></span>
                    <span class="fs-3 display-6" id="week-end-text"></span>
                    <span class="fs-3 display-6">Schedule</span>
                </div>
                <div class="modal-body">
                    <table class="srg-table" id="week-table">
                        <thead>
                            <tr class="">
                                <th>Date</th>
                                <th>Provider</th>
                                <th>Time Code</th>
                                <th>FYE</th>
                                <th>Hours</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
        const myModal = document.getElementById('todo-modal')
        myModal.addEventListener('show.bs.modal', event => {
            //get data-id attribute of clicked event
            let engagementID = $(event.relatedTarget).data("engagement-id")
            console.log(engagementID)
            //populate the input field
            $(event.currentTarget).find('input[name="engagement-input"]').val(engagementID)
        });

        const dayModal = document.getElementById('day-modal')
        dayModal.addEventListener('hidden.bs.modal', event => {
            let tableBody = document.querySelector("#day-table tbody")

            while (tableBody.firstChild) {
                tableBody.removeChild(tableBody.firstChild)
            }
        });

        const weekModal = document.getElementById('week-modal')
        weekModal.addEventListener('hidden.bs.modal', event => {
            let weekTableBody = document.querySelector("#week-table tbody")

            while (weekTableBody.firstChild) {
                weekTableBody.removeChild(weekTableBody.firstChild)
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            // Handle "Edit" button clicks
            $(document).on('click', '.edit-button', function () {
                let tdID = $(this).data('td-id');
                let editTdForm = $('#editTodoForm')
                console.log(tdID)

                // Fetch details using AJAX
                $.ajax({
                    url: '/get_td/' + tdID + '/',
                    type: 'GET',
                    success: function (data) {
                        //Populate From fields with task details
                        editTdForm.find('#td-id').val(tdID)
                        editTdForm.find('#id_engagement').val(data.engagement)
                        editTdForm.find('#id_todo_date').val(data.todo_date)
                        editTdForm.find('#id_todo_date_end').val(data.todo_date_end)
                        editTdForm.find('#id_anticipated_hours').val(data.anticipated_hours)
                        editTdForm.find('#id_note').val(data.note)
                    }
                })
            })
        })
    </script>

    <script>
        let sortingOrder = 1
        function sortTable(columnIndex, table_id) {
            let table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById(table_id);
            switching = true;
            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("tr");

                for (i=1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;

                    x = rows[i].getElementsByTagName("td")[columnIndex];
                    y = rows[i + 1].getElementsByTagName("td")[columnIndex];

                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                      }
                }

                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i+1], rows[i]);
                    switching = true;
                }
            }
            sortingOrder *= -1

        }
    </script>


        <script>
            function searchClients() {
                let input, filter, table, rows, i, j, td, txtValue;
                input = document.getElementById('searchBar')
                filter = input.value.toUpperCase();
                table = document.getElementById('engagement-table');
                rows = table.getElementsByTagName("tr");

                for (i = 1; i < rows.length; i++) {
                    let tds = rows[i].getElementsByTagName("td");
                    let rowContainsFilter = false;

                    for (j = 0; j < tds.length; j++) {
                        td = tds[j];
                        if (td) {
                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                rowContainsFilter = true;
                                break;  // no need to check other TDs, so break the loop
                            }
                        }
                    }

                    rows[i].style.display = rowContainsFilter ? "" : "none";
                }
            }
        </script>

        <script>
          // Initialize the popover
          $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
          });
        </script>

        <script>
          $(function () {
            $('[data-toggle="popover"]').popover({
              placement: 'top', // Tooltip placement
              delay: { show: 5000, hide: 100 }, // Delay in milliseconds
              html: true, // Allow HTML content in tooltips
              template: '<div class="popover custom-popover" role="popover">' +
                  '<div class="arrow"></div><div class="popover-inner"></div></div>'
            });
          });
        </script>

        <script>
            // Hide the spinner when the page is fully loaded
            window.onload = function () {
              // Hide the loading screen when the entire page is loaded
                const loadingScreen = document.getElementById("loading-screen");
                loadingScreen.style.display = "none";
                const scrollToElement = document.getElementById("today");

               if (scrollToElement) {
                   scrollToElement.scrollIntoView({
                       behavior: "smooth",
                       block: "start"
                   })
               }
            };

        </script>

        <script>
            // Hide the spinner when the page is fully loaded
            window.addEventListener("beforeunload", function() {
                const spinner = document.getElementById("loading-screen");
                spinner.style.display = ""; // Change to "none" if you want it to hide initially
            });
        </script>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const calendarEl = document.getElementById('myCalendar');

            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title'
                },
                fixedWeekCount: false,
                aspectRatio: 1.5,
                navLinks: true,
                weekNumbers: true,
                events: [
                    {% for event in employee_td_entries %}
                        {
                            id: '{{ event.todolist_id }}',
                            title: '{{ event.engagement }} - {{ event.anticipated_hours }} Hours',
                            start: '{{ event.todo_date|date:'Y-m-d' }}',
                            end: '{{ event.todo_date|date:'Y-m-d' }}',
                            extendedProps: {
                                description: 'This is a test.'
                            }
                        },
                    {% endfor %}
                    ],
                eventBackgroundColor: '#02308C',
                eventBorderColor: '#02308C',
                eventMouseEnter: function() {
                    document.body.style.cursor = "pointer"
                },
                eventMouseLeave: function() {
                    document.body.style.cursor = "default"
                },
                navLinkWeekClick: function (weekStart) {
                    $('#week-modal').modal('show')
                    let weekBeg = weekStart
                    document.getElementById('week-beg-text').innerText = weekStart.toLocaleDateString() + ' - '
                    let weekEnd = new Date(weekBeg.getTime());
                    weekEnd.setDate(weekEnd.getDate() + 6);
                    document.getElementById('week-end-text').innerText = weekEnd.toLocaleDateString()

                    let weekTableBody = document.querySelector("#week-table tbody")
                    $.ajax({
                        url: '/get_td_week_list/' + weekBeg.toISOString().split("T")[0] + "/" + weekEnd.toISOString().split("T")[0] + "/",
                        type: 'GET',
                        success: function (tdWeekList) {
                            tdWeekList.forEach(item => {
                                let row = document.createElement('tr')
                                let url = `/delete-todo-entry/${item.todolist_id}/`
                                let tdID = item.todolist_id
                                let todoDate = new Date(item.todo_date)
                                row.innerHTML = `
                                                <td>${todoDate.toLocaleDateString()}</td>
                                                <td>${item.engagement__provider} - ${item.engagement__provider__provider_name}</td>
                                                <td>${item.engagement__time_code} - ${item.engagement__time_code__time_code_desc}</td>
                                                <td>${item.engagement__fye}</td>
                                                <td>${item.anticipated_hours}</td>
                                                <td class="text-center">
                                                        <a type="button" class="srg-link edit-button" data-bs-toggle="modal" href="#edit-modal" data-td-id="${tdID}">
                                                          <i class="bi bi-pencil-square"></i>
                                                        </a>

                                                        <a type="button" class="srg-link-danger" id='td-modal-delete-button' data-engagement-id="{{ item.todolist_id }}"
                                                                href="${url}">
                                                          <i class="bi bi-trash3"></i>
                                                        </a>
                                                    </td>
                                                    `

                                weekTableBody.appendChild(row)// Your code here...
                            })
                        }
                    })
                },
                navLinkDayClick: function(info) {
                    $('#day-modal').modal('show');
                    // alert('Clicked on: ' + info.dateStr);
                    // document.getElementById('day-text').innerText = monthNumber + "/" + dayName + "/" + date.getFullYear()
                    document.getElementById('day-text').innerText = info.toLocaleDateString()
                    let tableBody = document.querySelector("#day-table tbody")
                    $.ajax({
                        url: '/get_td_list/' + info.toISOString().split("T")[0] + '/',
                        type: 'GET',
                        success: function (tdDayList) {
                            // let tdDayListParsed = JSON.parse(tdDayList)
                            tdDayList.forEach(item => {
                                let row = document.createElement('tr')
                                let url = `/delete-todo-entry/${item.todolist_id}/`
                                let tdID = item.todolist_id
                                row.innerHTML = `
                                                <td>${item.engagement__provider} - ${item.engagement__provider__provider_name}</td>
                                                <td>${item.engagement__time_code} - ${item.engagement__time_code__time_code_desc}</td>
                                                <td>${item.engagement__fye}</td>
                                                <td>${item.anticipated_hours}</td>
                                                <td class="text-center">
                                                        <a type="button" class="srg-link edit-button" data-bs-toggle="modal" href="#edit-modal" data-td-id="${tdID}">
                                                          <i class="bi bi-pencil-square"></i>
                                                        </a>

                                                        <a type="button" class="srg-link-danger" id='td-modal-delete-button' data-engagement-id="{{ item.todolist_id }}"
                                                                href="${url}">
                                                          <i class="bi bi-trash3"></i>
                                                        </a>
                                                    </td>
                                                    `

                                tableBody.appendChild(row)// Your code here...
                            });
                        }
                    })
                },
                eventClick: function (info) {
                    // When an event is clicked, show the modal using Bootstrap's modal method
                    $('#cal-modal').modal('show');
                    // $('#edit-modal').modal('show');
                    let editTdForm = $('#editTodoForm')
                    // console.log(info.event.id)
                    $.ajax({
                        url: '/get_td/' + info.event.id + '/',
                        type: 'GET',
                        success: function (data) {
                            // Populate From fields with task details
                            // document.getElementById('engagementText').innerText = data.td_id
                            // document.getElementById('providerText').innerText = data.provider_number + ' - ' + data.provider_name
                            // document.getElementById('timeCodeText').innerText = data.time_code + ' - ' + data.time_code_desc
                            // document.getElementById('startDateText').innerText = data.todo_date_formatted
                            // document.getElementById('FYEText').innerText = data.fiscal_year
                            // document.getElementById('hoursText').innerText = data.anticipated_hours
                            document.getElementById('pText').innerText = data.provider_number + ' - ' + data.provider_name
                            document.getElementById('tcText').innerText = data.time_code + ' - ' + data.time_code_desc
                            document.getElementById('dateText').innerText = data.todo_date_formatted
                            document.getElementById('fyText').innerText = data.fiscal_year
                            document.getElementById('hText').innerText = data.anticipated_hours
                            let url = `/delete-todo-entry/${info.event.id}/`
                            document.getElementById('td-modal-delete-button').setAttribute('href', url)
                            let myButton = document.querySelector('#edit-button');
                            myButton.dataset.tdId = info.event.id
                            // editTdForm.find('#td-id').val(info.event.id)
                            // editTdForm.find('#id_engagement').val(data.engagement)
                            // editTdForm.find('#id_todo_date').val(data.todo_date)
                            // editTdForm.find('#id_todo_date_end').val(data.todo_date_end)
                            // editTdForm.find('#id_anticipated_hours').val(data.anticipated_hours)
                            // editTdForm.find('#id_note').val(data.note)
                        }
                    })
                }
            });
            calendar.render();
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const form = document.getElementById('td-form')
            if (form) {
                form.addEventListener('submit', function (event) {
                    const start_date_elem = document.getElementById('todo_date_id');
                    const end_date_elem = document.getElementById('todo_date_end_id');

                    if (start_date_elem && end_date_elem) {
                        const start_date = new Date(start_date_elem.value);
                        const end_date = new Date(end_date_elem.value);
                        console.log("Start date: " + start_date);
                        console.log("End date: " + end_date);

                        if (end_date < start_date) {
                            alert('End Date is Invalid');
                            event.preventDefault();
                        }
                    } else {
                        console.error("Could not find one or both date input elements");
                    }
                })
            } else {
                console.error("Could not find form element");
            }
        })
</script>




{% endblock %}