{% extends 'layoutV2.html' %}

{% block content %}
    <div id="loading-screen">
        <div class="">
            <div class="spinner"></div><br>
            <p>Loading...</p>
        </div>

    </div>
    <div class="row">
        <div class="col-xxl-4 col-xl-6">
            <div class="card vh-100 flex-shrink-1">
                <div class="card-header srg-bg-primary srg-text-secondary d-flex justify-content-between align-items-center">
                    <span class="display-6 fs-3">My Engagements</span>
                    <input class="search-box" type="text" id="searchBar" onkeyup="searchClients()" placeholder="Search for engagements.." title="Type in a name">
                </div>

                <div class="card-body px-2 py-2 overflow-auto">

                    <div class="list-group" role="tablist" id="clientList">
                        {% for engagement in user_engagements %}
                            <div class="srg-list-group-item shadow-sm my-2">
                                <div class="row d-flex align-items-center">
                                    <div class="col-10" style="font-size:11pt;">
                                        {{ engagement.parent }}<br>
                                        {{ engagement.provider }}<br>
                                        {{ engagement.time_code }}<br>
                                        {{ engagement.fye|date:'m/d/Y' }}
                                    </div>
                                    <div class="col-2 p-0 m-0 d-flex justify-content-center">
                                        <div class="btn-group-vertical p-0" role="group" aria-label="Vertical button group">
                                              <button type="button" class="btn srg-btn-ol-primary px-3 py-1" data-bs-toggle="modal"
                                                       data-bs-target="#time-modal" data-engagement-id="{{ engagement.engagement_srg_id }}"
                                                       href="#time-modal" aria-controls="{{ engagement.engagement }}"><i class="bi bi-clock"></i></button>
                                              <button type="button" class="btn srg-btn-ol-success px-3 py-1" data-bs-toggle="modal"
                                                       data-bs-target="#expense-modal" data-engagement-id="{{ engagement.engagement_srg_id }}"
                                                       href="#expense-modal" aria-controls="{{ engagement.engagement }}"><i class="bi bi-currency-dollar"></i></button>
                                            </div>

                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                        <div class="modal fade" id="time-modal" tabindex="-1" aria-labelledby="time-modal" aria-hidden="true">
                            <div class="modal-dialog" id="modal">
                                <div class="modal-content">
                                    <div class="modal-header srg-bg-primary text-light fs-5">
                                        Record Time
                                    </div>
                                    <div class="modal-body">
                                        <form class="" method="POST">
                                            {% csrf_token %}
                                                <label for="my-input">Engagement:</label><br>
                                                <input name="engagement-input" type="text" id="my-input" /><br>
                                            {% for field in time_form %}
                                                <div class="fieldWrapper my-3">
                                                    {{ field.label_tag }} <br>{{ field }}
                                                    {% if field.help_text %}
                                                        <p class="help">{{ field.help_text|safe }}</p>
                                                    {% endif %}
                                                </div>

                                            {% endfor %}
                                            <button name="time_button" class="srg-btn-primary my-2">Record Time</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="expense-modal" tabindex="-1" aria-labelledby="expense-modal" aria-hidden="true">
                            <div class="modal-dialog" id="modal">
                                <div class="modal-content">
                                    <div class="modal-header srg-bg-success text-light fs-5">
                                        Record Expense
                                    </div>
                                    <div class="modal-body">
                                        <form class="" method="POST">
                                            {% csrf_token %}
                                                <label for="my-input">Engagement:</label><br>
                                                <input name="expense-input" type="text" id="my-input" /><br>
                                            {% for field in expense_form %}
                                                <div class="fieldWrapper my-3">
                                                    {{ field.label_tag }} <br>{{ field }}
                                                    {% if field.help_text %}
                                                        <p class="help">{{ field.help_text|safe }}</p>
                                                    {% endif %}
                                                </div>

                                            {% endfor %}
                                            <button name="expense_button" class="srg-btn-success my-2">Record Expense</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 vh-100">
            <div class="card vh-100">
                <div class="card-header srg-text-secondary srg-bg-primary d-flex justify-content-between align-items-baseline">
                    <span class="display-6 fs-3">Current Entries</span>
                    <span class="display-6 fs-3">{{ total_available_hours }} hrs. avail</span>
                </div>
                <div class="card-body overflow-auto">
                    {% for dy in current_week %}
                        <div class="row mb-4 shadow-sm" style="border-bottom-left-radius:12px; border-top-left-radius: 12px;"
                        {% if dy == today %}id="today"{% endif %}>
                            <!--
                            <div class="col-md-12 d-flex justify-content-center align-items-baseline {% if dy == today %}srg-bg-primary srg-text-secondary{% else %}srg-bg-secondary srg-header {% endif %}"
                            style="border-bottom-left-radius:12px; border-top-left-radius: 12px;">
                                <p class="fs-5 text-center border">
                                    {{ dy|date:'D' }}<br>
                                    {{ dy|date:'m/d/y' }}
                                </p>
                            </div>
                            -->
                            <div class="col-12 p-0">
                                <div class="card">
                                    <div class="card-header border-bottom-0 {% if dy == today %}srg-bg-primary srg-text-secondary{% else %}srg-bg-secondary srg-header {% endif %}">
                                        <span class="display-6 fs-4">{{ dy|date:'l' }}
                                            {{ dy|date:'m/d/y' }}</span>
                                    </div>
                                    <div class="card-body p-2">
                                        <table class="srg-table">
                                            <thead>
                                                <tr class="">
                                                    <th class="">Provider</th>
                                                    <th class="">Scope</th>
                                                    <th class="">FYE</th>
                                                    <th class="">Hours</th>
                                                    <th class="text-center">Note</th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for entry in employee_ts_entries %}
                                                    {% if entry.ts_date == dy %}
                                                        <tr>
                                                                <td>
                                                                    {{ entry.getProvider }}
                                                                </td>
                                                                <td>

                                                                    {{ entry.getScope }}
                                                                </td>
                                                                <td>
                                                                    {{ entry.getFye|date:'m/d/Y' }}
                                                                </td>
                                                                <td>
                                                                    {{ entry.hours }}
                                                                </td>
                                                                <td class="text-center">
                                                                    {% if entry.note == '' %}
                                                                    {% else %}
                                                                        <a type="button" class="srg-link" data-toggle="popover" data-bs-placement="left" data-bs-content="{{ entry.note|safe }}">
                                                                          <i class="bi bi-stickies-fill"></i>
                                                                        </a>
                                                                    {% endif %}
                                                                </td>
                                                                <td class="text-center">
                                                                    <a type="button" class="srg-link edit-button" data-bs-toggle="modal" href="#edit-modal" data-bs-placement="#" data-engagement-id="{{ entry.engagement_id }}" data-ts-id="{{ entry.timesheet_id }}">
                                                                      <i class="bi bi-pencil-square"></i>
                                                                    </a>

                                                                    <a type="button" class="srg-link-danger" data-engagement-id="{{ entry.timesheet_id }}"
                                                                            href="{% url 'delete-time-entry' entry.timesheet_id %}" aria-controls="{{ engagement.engagement }}">
                                                                      <i class="bi bi-trash3"></i>
                                                                    </a>

                                                                </td>
                                                        </tr>
                                                        {% else %}
                                                        {% endif %}
                                                {% endfor %}
                                            </tbody>
                                            {% for total in employee_hours_by_day %}
                                                {% if total.ts_date == dy %}
                                                    <tfoot>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td>Total:</td>
                                                            <td>{{ total.ts_hours }}</td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tfoot>
                                                {% else %}
                                                {% endif %}
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                        <div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="edit-modal" aria-hidden="true">
                            <div class="modal-dialog" id="modal">
                                <div class="modal-content">
                                    <div class="modal-header srg-bg-secondary srg-header fs-5">
                                        Edit Entry
                                    </div>
                                    <div class="modal-body">
                                        <form class="" method="POST" id="editTimeForm" action="{% url 'update-ts' %}">
                                            {% csrf_token %}
                                                <label for="ts-id">Record #:</label><br>
                                                <input class="w-50" name="ts-id-input" type="text" id="ts-id" /><br>
                                            {% for field in edit_time_form %}
                                                <div class="fieldWrapper my-3">
                                                    {{ field.label_tag }} <br>{{ field }}
                                                    {% if field.help_text %}
                                                        <p class="help">{{ field.help_text|safe }}</p>
                                                    {% endif %}
                                                </div>

                                            {% endfor %}
                                            <button name="edit_time_button" type="submit" class="srg-btn-primary my-2">Save Entry</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Handle "Edit" button clicks
            $('.edit-button').click(function () {
                let tsID = $(this).data('ts-id');
                let editTsForm = $('#editTimeForm');

                // Fetch details using AJAX
                $.ajax({
                    url: '/get_ts/' + tsID + '/',
                    type: 'GET',
                    success: function (data) {
                        //Populate from fields with task details
                        editTsForm.find('#ts-id').val(tsID)
                        editTsForm.find('#id_engagement').val(data.engagement)
                        editTsForm.find('#id_ts_date').val(data.ts_date)
                        editTsForm.find('#id_hours').val(data.hours)
                        editTsForm.find('#id_time_type_id_id').val(data.btype)
                        editTsForm.find('#id_note').val(data.note)
                    }
                })
            })
        })
    </script>
    <script>
        const myModal = document.getElementById('time-modal')
        myModal.addEventListener('show.bs.modal', event => {
            //get data-id attribute of clicked event
            let engagementID = $(event.relatedTarget).data("engagement-id")
            //populate the input field
            $(event.currentTarget).find('input[name="engagement-input"]').val(engagementID)
        });

        const expenseModal = document.getElementById('expense-modal')
        expenseModal.addEventListener('show.bs.modal', event => {
            let engagementID = $(event.relatedTarget).data("engagement-id")
            $(event.currentTarget).find('input[name="expense-input"]').val(engagementID)
        })
    </script>
        <script>
            function searchClients() {
                // Declare Variables
                let input, filter, ul, li, a, i, txtValue;
                input = document.getElementById('searchBar')
                filter = input.value.toUpperCase();
                console.log(filter)
                ul = document.getElementById('clientList')
                li = ul.getElementsByClassName('srg-list-group-item');

                // Loop through elements and display only matches
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    txtValue = li[i].textContent || li[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "block";
                    } else {
                        li[i].style.display = "none";
                    }
                }

            }
        </script>

        <script>
          // Initialize the popover
          $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
          });
        </script>

        <script>
            // Hide the spinner when the page is fully loaded
            window.onload = function () {
              // Hide the loading screen when the entire page is loaded
                const loadingScreen = document.getElementById("loading-screen");
                loadingScreen.style.display = "none";
                const scrollToElement = document.getElementById("today");

                if (scrollToElement) {
                   scrollToElement.scrollIntoView({
                       behavior: "smooth",
                       block: "start"
                   })
                }
            };

        </script>

        <script>
            // Hide the spinner when the page is fully loaded
            window.addEventListener("beforeunload", function() {
                const spinner = document.getElementById("loading-screen");
                spinner.style.display = ""; // Change to "none" if you want it to hide initially
            });
        </script>




{% endblock %}