{% extends 'layoutV2.html' %}
{% load mathfilters %}

{% block content %}

    <div id="loading-screen">
        <div class="">
            <div class="spinner"></div><br>
            <p>Loading...</p>
        </div>
    </div>

    <div class="row border">
        <div class="col-3 px-1">
            <div class="card srg-border vh-100 overflow-auto">
                <div class="card-header srg-bg-primary srg-text-secondary d-flex justify-content-between align-items-center sticky-top">
                    <span class="display-6 fs-3 srg-text-secondary">Clients</span>
                    <input class="search-box" type="text" id="searchBar" onkeyup="searchClientsLocal()" placeholder="Search for clients.." title="Type in a name">
                    <a type="button" class="srg-link-secondary srg-text-secondary" data-bs-toggle="modal" data-bs-target="#createEngagementModal"><svg class="bi" height=""><use xlink:href="#plus"/></svg></a>
                </div>

                <div class="card-body">
                    <div class="list-group" role="tablist" id="clientList">
                        {% for parent in parents %}
                            <a href="#list-{{ parent.parent_id }}" class="srg-link srg-list-group-item text-decoration-none mb-2" id="list-{{ parent.parent_id }}-list" data-bs-toggle="list" type="button" role="tab" aria-controls="tab-pane" aria-selected="true">
                                {{ parent }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-9">
            <div class="tab-content" id="nav-TabContent">
                {% for parent in parents %}
                    <div class="tab-pane" id="list-{{ parent.parent_id }}" role="tabpanel" aria-labelledby="list-{{ parent.parent_id }}-list">
                        <div class="card pt-0 rounded-3 vh-100 overflow-auto">
                            <div class="card-header srg-bg-primary d-flex justify-content-between align-items-center px-4 sticky-top">
                                <span class="display-6 fs-3 srg-text-secondary">{{ parent.parent_name }} Engagements</span>
                                <input class="search-box" type="text" id="search{{ parent.parent_id }}" onkeyup="searchEngagement{{ parent.parent_id }}()" placeholder="Search for engagements.." title="Type in a name">
                                <a type="button" class="srg-link-secondary srg-text-secondary" data-bs-toggle="modal" data-bs-target="#createEngagementModal"><svg class="bi"><use xlink:href="#plus"/></svg> Add Engagement</a>
                            </div>

                            <script>
                                function searchEngagement{{ parent.parent_id }}() {
                                    let input, filter, table, rows, i, j, td, txtValue;
                                    input = document.getElementById("search{{ parent.parent_id }}");
                                    filter = input.value.toUpperCase();
                                    table = document.getElementById('table{{ parent.parent_id }}');
                                    rows = table.getElementsByTagName("tr");

                                    for (i = 1; i < rows.length; i++) {
                                        let tds = rows[i].getElementsByTagName("td");
                                        let rowContainsFilter = false;
                        
                                        for (j = 0; j < tds.length; j++) {
                                            td = tds[j];
                                            if (td) {
                                                txtValue = td.textContent || td.innerText;
                                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                                    rowContainsFilter = true;
                                                    break;  // no need to check other TDs, so break the loop
                                                }
                                            }
                                        }
                        
                                        rows[i].style.display = rowContainsFilter ? "" : "none";
                                    }
                                }
                            </script>
                            <div class="card-body">
                                <table class="srg-table" id="table{{ parent.parent_id }}">
                                    <thead>
                                        <tr>
                                            <th>Engagement ID</th>
                                            <th>Parent</th>
                                            <th>Provider</th>
                                            <th>Scope</th>
                                            <th>FY</th>
                                            <th>Total Hours</th>
                                            <th>Hours Budget</th>
                                            <th>Variance</th>
                                        </tr>
                                    </thead>
                                    {% for engagement in engagements %}
                                        {% if engagement.parent_id == parent.parent_id %}
                                            <tr>
                                                <td><a href="{% url 'engagement-detail' engagement.engagement_id %}" class="srg-link">{{ engagement.engagement_srg_id }}</a></td>
                                                <td>{{ engagement.parent__parent_name }}</td>
                                                <td>{{ engagement.provider_id }}-{{ engagement.provider__provider_name }}</td>
                                                <td>{{ engagement.time_code }}-{{ engagement.time_code__time_code_desc }}</td>
                                                <td>{{ engagement.fye|date:'m/d/Y' }}</td>
                                                <td>{{ engagement.engagement_hours_sum }}</td>
                                                <td>{{ engagement.budget_calc }}</td>
                                                <td>{{ engagement.budget_calc|sub:engagement.engagement_hours_sum|floatformat:0 }}</td>
                                            </tr>
                                        {% endif %}

                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>


            <div class="modal fade" tabindex="-1" id="createEngagementModal" aria-labelledby="createEngagementModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header srg-bg-primary">
                            <span class="display-6 fs-3 srg-text-secondary">Create Engagement Form</span>
                        </div>
                        <div class="modal-body pe-0">
                            <form class="" method="POST">
                                {% csrf_token %}

                                <div class="fieldWrapper mb-3">
                                    {{ createEngagementForm.provider.errors }}
                                    <label for="{{ createEngagementForm.provider.id_for_label }}">Provider:</label><br>
                                    {{ createEngagementForm.provider }}
                                    {% if createEngagementForm.provider.help_text %}
                                        <p class="help">{{ createEngagementForm.provider.help_text|safe }}</p>
                                    {% endif %}
                                </div>

                                <div class="fieldWrapper mb-3">
                                    {{ createEngagementForm.parent.errors }}
                                    <label for="{{ createEngagementForm.parent.id_for_label }}">Parent:</label><br>
                                    {{ createEngagementForm.parent }}
                                    {% if createEngagementForm.parent.help_text %}
                                        <p class="help">{{ createEngagementForm.parent.help_text|safe }}</p>
                                    {% endif %}
                                </div>

                                <div class="fieldWrapper mb-3">
                                    {{ createEngagementForm.start_date.errors }}
                                    <label for="{{ createEngagementForm.start_date.id_for_label }}">Start Date:</label><br>
                                    {{ createEngagementForm.start_date }}
                                    {% if createEngagementForm.start_date.help_text %}
                                        <p class="help">{{ createEngagementForm.start_date.help_text|safe }}</p>
                                    {% endif %}
                                </div>

                                <div class="fieldWrapper mb-3">
                                    {{ createEngagementForm.time_code.errors }}
                                    <label for="{{ createEngagementForm.time_code.id_for_label }}">Scope:</label><br>
                                    {{ createEngagementForm.time_code }}
                                    {% if createEngagementForm.time_code.help_text %}
                                        <p class="help">{{ createEngagementForm.time_code.help_text|safe }}</p>
                                    {% endif %}
                                </div>

                                <div class="fieldWrapper mb-3">
                                    {{ createEngagementForm.fye.errors }}
                                    <label for="{{ createEngagementForm.fye.id_for_label }}">FYE:</label><br>
                                    {{ createEngagementForm.fye }}
                                    {% if createEngagementForm.fye.help_text %}
                                        <p class="help">{{ createEngagementForm.fye.help_text|safe }}</p>
                                    {% endif %}
                                </div>

                                <div class="mb-3">
                                    {{ createEngagementForm.type.errors }}
                                    <label for="{{ createEngagementForm.type.id_for_label }}">Type:<br>
                                    {{ createEngagementForm.type }}
                                    </label>
                                    {% if createEngagementForm.type.help_text %}
                                        <p class="help">{{ createEngagementForm.type.help_text|safe }}</p>
                                    {% endif %}

                                    <div class="ms-3 my-3 hidden-fields" id="extraFields" style="display:None">
                                        <div class="col-2">
                                            {{ createEngagementForm.is_rac.errors }}
                                            <label for="{{ createEngagementForm.is_rac.id_for_label }}">RAC Rate:<br>
                                            {{ createEngagementForm.is_rac }}
                                            </label>
                                            {% if createEngagementForm.is_rac.help_text %}
                                                <p class="help">{{ createEngagementForm.is_rac.help_text|safe }}</p>
                                            {% endif %}
                                        </div>

                                        <div class="col-5 mt-2">
                                            {{ createEngagementForm.engagement_hourly_rate.errors }}
                                            <label for="{{ createEngagementForm.engagement_hourly_rate.id_for_label }}">Custom Rate:<br>
                                            {{ createEngagementForm.engagement_hourly_rate }}
                                            </label>
                                            {% if createEngagementForm.engagement_hourly_rate.help_text %}
                                                <p class="help">{{ createEngagementForm.engagement_hourly_rate.help_text|safe }}</p>
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>

                                <div class="fieldWrapper mb-3">
                                    {{ createEngagementForm.budget_amount.errors }}
                                    <label for="{{ createEngagementForm.budget_amount.id_for_label }}">Budget Amount:<br>
                                    {{ createEngagementForm.budget_amount }}
                                    </label>
                                    {% if createEngagementForm.budget_amount.help_text %}
                                        <p class="help">{{ createEngagementForm.budget_amount.help_text|safe }}</p>
                                    {% endif %}
                                </div>


                                <div class="modal-footer pb-0">
                                    <button id="spinner-btn" class="srg-btn-primary my-2" type="submit" name="createEngagement">
                                        <span class="spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                        Create Engagement
                                    </button>

                                    <button class="srg-btn-secondary my-2" type="submit" name="createEngagementAssign">
                                        Create & Assign
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
            $('a[data-bs-toggle="list"]').on('shown.bs.tab', function (e) {
                $(e.target).css("color", "#ffffff");
                $(e.target).css("background-color", "#02308C");
                $(e.target).css("border-color", "#02308C");
                $(e.relatedTarget).css("color", "#02308C");
                $(e.relatedTarget).css("background-color", "#ffffff");
                $(e.relatedTarget).css("border-color", "#a9a9a9");
            })
        })
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#id_type').on('change', function () {
                    let selectedValue = $(this).val();
                    console.log(selectedValue)
                    if (selectedValue === 'H') {
                        $('.hidden-fields').show()
                    } else {
                        $('.hidden-fields').hide();
                    }
                });
            });
        </script>


        <script>

            function searchClientsLocal() {
                // Declare Variables
                let input, filter, ul, li, a, i, txtValue;
                input = document.getElementById('searchBar')
                filter = input.value.toUpperCase();
                console.log(filter)
                ul = document.getElementById('clientList')
                li = ul.getElementsByTagName('a');

                // Loop through elements and display only matches
                for (i = 0; i < li.length; i++) {
                    // a = li[i].getElementsByTagName("a")[0];
                    txtValue = li[i].textContent || li[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "block";
                    } else {
                        li[i].style.display = "none";
                    }
                }

            }
        </script>

        <script>
            // Hide the spinner when the page is fully loaded
            window.onload = function () {
                  // Hide the loading screen when the entire page is loaded
                const loadingScreen = document.getElementById("loading-screen");
                loadingScreen.style.display = "none";
                const scrollToElement = document.getElementById("today");

                if (scrollToElement) {
                   scrollToElement.scrollIntoView({
                       behavior: "smooth",
                       block: "start"
                   })
                }
            };

            </script>

            <script>
                // Hide the spinner when the page is fully loaded
                window.addEventListener("beforeunload", function() {
                    const spinner = document.getElementById("loading-screen");
                    spinner.style.display = ""; // Change to "none" if you want it to hide initially
                });
        </script>
{% endblock %}