{% extends 'layout.html' %}

{% block content %}
    <div class="row border vh-100 d-flex justify-content-center align-items-center border">
        <div class="col-4 mt-2">
            <div class="card">
                <div class="card-body text-center">
                    <div class="srg-header">
                        <h4>
                            Extracting Data...
                        </h4>
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}